

<body class="dashboard">

  <div class="wrapper">
    <div class='header'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<div class='collapseee' id='top-header'>
<ul class='nav navbar-nav navbar-right'>

<li class='dropdown'>
<a aria-expanded='false' class='dropdown-toggle expert' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'>Trudy</span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/accounts">Appointments</a>
</li>
<li>
<a href="/experts/trudy-f-277">My profile</a>
</li>
<li>
<a href="/experts/trudy-f-277/profile/edit">Edit profile</a>
</li>
<li>
<a href="/payments">Earnings</a>
</li>
<li>
<a href="/messages">Messages</a>
</li>
<li>
<a href="/accounts/edit">Account settings</a>
</li>
<li>
<a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</div>

    <div class='topmenu'>
<nav class='navbar' role='navigation'>
<div class='container expert'>
<div class='nopad-l' id='top-menu'>
<ul class='nav navbar-nav'>
<!-- / EXPERT & BUYER SECTION -->
<li class='first'>
<a href="/accounts">APPOINTMENTS</a>
</li>
<li>
<a class="active" href="/experts/trudy-f-277/profile/edit">EDIT PROFILE</a>
</li>
<li>
<a href="/payments">EARNINGS</a>
</li>
<!--<li>-->
<!--<a href='/messages'>-->
<!--MESSAGES-->

<!--</a>-->
<!--</li>-->
<li>
<a href="/accounts/edit">ACCOUNT SETTINGS</a>
</li>
<li>
<a href="/help">HELP</a>
</li>
<li class='edit-profile'>
<a class='btn btn-success' href='/experts/trudy-f-277'>
VIEW PROFILE
<i class='fa fa-angle-right direction'></i>
</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
<!--<div class='container'>-->
<!--<div class='col-xs-12 nopad'>-->
<!--<div class='alert alert-notice alert-verification vc'>-->
<!--<span>PLEASE VERIFY YOUR EMAIL TO COMPLETE YOUR REGISTRATION!</span>-->
<!--<button class='navbar-right btn btn-success resend-verify-email'>RESEND VERIFICATION EMAIL</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class='container fitted expert-dashboard'>
<div class='row'>
<div class='col-xs-3 nopad edit-profile-menu first'>
<ul class='nopad nomarg white'>
<li class='active'>
<a href='#basic' role='tab'>BASIC INFO</a>
</li>
<li>
<a href='#sessions' role='tab'>PRIVATE SESSIONS</a>
</li>
<li>
<a href='#group_sessions' role='tab'>GROUP CLASSES</a>
</li>
<!-- %li -->
<!-- %a{href: '#about', role: 'tab'} ABOUT ME -->
<!-- %li -->
<!-- %a{href: '#details', role: 'tab'} DETAILS -->
<li>
<a href='#photos' role='tab'>PHOTOS & VIDEOS</a>
</li>
<li>
<a href='#packages' role='tab'>PACKAGES</a>
</li>
</ul>
<div class='w-100 white first listed-unlisted'>
<div class='your-profile-listed' style='display:none'>
<p>
Your profile is currently
<span class='bold'>listed.</span>
</p>
<button class='w-100 btn list avatar'>
DELIST PROFILE
</button>
</div>
<div class='your-profile-unlisted' style=''>
<p>
Your profile is currently
<span class='bold'>unlisted.</span>
</p>
<button class='w-100 btn avatar-inverse list not-listed'>
LIST PROFILE
</button>
</div>
</div>
</div>
<div class='col-xs-9 nopad-r first content-tab'>

<%= form_for(@profile, :class=>"edit_profile" ) do |f| %>
  <input id="profile_listed" name="profile[listed]" type="hidden" value="f" />
<textarea class='hidden' id='advanced_data' name='advanced_data'>null</textarea>



<!-- modal for location field -->
<div aria-labelledby='location' class='modal' id='location'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>ADDRESS</h4>
<p class='text-light' style='padding-top:20px;'>Enter the name of your studio or workout space. Only the city will be displayed in your profile. When you have a successful booking, your client will receive the full address.</p>
</div>
<div class='modal-body'>
<div class='form form-group'>
<label>FIRST LINE</label>
 <%= f.text_field :add1 %>
<label>SECOND LINE</label>
 <%= f.text_field :add2 %>
<label>CITY</label>
 <%= f.text_field :city %>
<label>STATE</label>
 <%= f.text_field :state %>
<label>ZIP</label>
 <%= f.text_field :zip %>
</div>
</div>
<div class='modal-footer'>
<a class='btn btn-success text-center' data-dismiss='modal'>SUBMIT</a>
</div>
</div>
</div>
</div>
<!-- tabs -->
<div class='tab-content'>
<div class='tab-pane active fade in' id='basic'>
<div class='white content line'>
<!-- basic info tab -->
<h1 class='nopad nomarg'>BASIC INFO</h1>
<p class='text-light help-text'>This is information that will show up in trainer card, at the very top of your profile and in search results.</p>
<div class='vc'>
<div class='col-xs-3 nopad'>
<p>PROFILE PHOTO</p>
<img alt="Default" class="avatar-img" src="https://kuju.io/assets/default.jpg" style="width:160px;" />
</div>
<div class='col-xs-7 about-photo'>
<p class='text-light'>
Your profile photo is one of the most important pieces of your profile. Be sure to pick a great one!
</p>
<button class='btn avatar epa'>UPLOAD PHOTO</button>
</div>
</div>
<div class='clearfix'></div>
<div class='form' style='margin-top:30px;'>
<div class='col-xs-6 nopad-l'>
<input class="hide" id="expert_profile_avatar" name="expert_profile[avatar]" type="file" />
<label>FIRST NAME</label>
 <%= f.text_field :first_name_text %>
<label>LAST NAME</label>
 <%= f.text_field :last_name_text %>
<label>
BUSINESS NAME
<span class='text-light'>
<i class='fa fa-question-circle' data-title='If you prefer to go by your business name, enter that for your display name. Otherwise, your first and last name will be displayed in your profile.' data-toggle='tooltip'></i>
</span>
</label>
 <%= f.text_field :display_name %>
</div>
<div class='col-xs-6 nopad-r'>
<label>
MY SPECIALITY
<i class='fa fa-question-circle' data-original-title='Pick the specialty that best describes you and your business.&#x000A;You can describe your other specialties in the “Quick description” and “About Me” sections.' data-toggle='tooltip'></i>
</label>
 <%= f.text_field :expert_type, :kind => "expert_type", :class => "selectize" %>
<label>LOCATION</label>
 <%= f.text_field :foo , :class => "location-show"%>
<label>
AVAILABILITY
<i class='fa fa-question-circle' data-original-title='Pick the days you or your business are available.' data-toggle='tooltip'></i>
</label>
 <%= f.text_field :availability, :class => "selectize", :kind => "availability" %>
</div>
<div class='col-xs-12 nopad'>
<label>
ABOUT
<span class='text-light'>
(1200 CHARACTERS MAX)
<i class='fa fa-question-circle' title='Write a brief summary of about yourself and your expertise.'></i>
</span>
</label>
<%= f.text_area :about, :class => "w-100", :maxlength => 1200, :rows =>5 %>

</div>
</div>
</div>
<div class='white next-button'>
<button class='btn avatar save-profile'>SAVE</button>
<button class='btn avatar navbar-right' href='#sessions' role='ctab'>NEXT</button>
</div>
</div>
<div class='tab-pane fade' id='sessions'>
<div class='white content line w-100'>
<h1 class='nopad nomarg'>SESSIONS</h1>
<p class='text-light help-text'>Set your pricing & duration for individual sessions here.</p>
<div class='form'>
<label>RATE PER SESSION</label>
<div class='relative'>
<i class='fa fa-usd text-light'></i>
 <%= f.text_field :price %>
</div>
<div class='relative'>
<label>DURATION</label>
 <%= f.text_field :session_length %>
<p class='duration text-light'>minutes</p>
</div>
</div>
</div>
<div class='white next-button'>
<button class='btn avatar save-profile'>SAVE</button>
<button class='btn avatar navbar-right' href='#group_sessions' role='ctab'>NEXT</button>
</div>
</div>
<div class='tab-pane fade' id='group_sessions'>
<div class='white content line w-100'>
<h1 class='nopad nomarg'>GROUP CLASSES</h1>
<p class='text-light help-text'>You can create group classes and add individual sessions for each class. Create as many classes as you want!</p>
<div get-url='/group_sessions' id='group_sessions_list'>
<div class='gs-list gs'>
</div>

</div>
<button class='btn btn-success' id='create_gs'>CREATE NEW GROUP CLASS</button>
</div>
<div class='white next-button'>
<button class='btn avatar save-profile'>SAVE</button>
<button class='btn avatar navbar-right' href='#photos' role='ctab'>NEXT</button>
</div>
</div>
<div class='tab-pane fade' id='about'>
<div class='white content line w-100 form'>
<h1 class='nopad nomarg'>ABOUT ME</h1>
<p class='text-light help-text'>Write a little summary about you, your services and your experience.</p>


</div>
<div class='white next-button'>
<button class='btn avatar save-profile'>SAVE</button>
<button class='btn avatar navbar-right' href='#details' role='ctab'>NEXT</button>
</div>
</div>
<div class='tab-pane fade' id='details'>
<div class='white content line w-100'>
<h1 class='nopad nomarg'>DETAILS</h1>
<p class='text-light help-text'>Include additional details about your session.</p>
<div class='form'>
<div class='col-xs-6 nopad-l'>
<label>YEARS OF EXPERIENCE</label>
 <%= f.text_field :experience %>
<label>AGES SUITABLE</label>
 <%= f.text_field :ages_suitable %>
<label>
SKILL LEVELS
<i class='fa fa-question-circle' data-toggle='tooltip' title='Enter which skill levels are suitable for your training, such as Beginner, Intermediate, Advanced or All Levels.'></i>
</label>
 <%= f.text_field :skill_levels, :class => "selectize", :kind => "skill_levels" %>
</div>
<div class='col-xs-6 nopad-r'>
<label>TRAVEL</label>
<input class="selectize" id="expert_profile_travel" kind="checkbox" name="profile[travel]" type="text" />
<label>STUDIO / FACILITY</label>
<input class="selectize" id="expert_profile_studio_facility" kind="checkbox" name="profile[studio_facility]" type="text" />
<!-- %label ACCOMPLISHMENTS -->
<!-- = f.text_field :accomplishments -->
</div>
<div class='col-xs-12 nopad'>
<label>
CREDENTIALS & ACCOMPLISHMENTS
<i class='fa fa-question-circle' data-toggle='tooltip' title='Enter any certifications you have.'></i>
</label>
 <%= f.text_area :credentials %>
</div>
</div>
</div>
<div class='white next-button'>
<button class='btn avatar save-profile'>SAVE</button>
<button class='btn avatar navbar-right' href='#photos' role='ctab'>NEXT</button>
</div>
</div>
<div class='tab-pane fade' id='photos'>
<div class='white content line w-100'>
<h1 class='nopad nomarg'>PHOTOS & VIDEOS</h1>
<p class='text-light help-text'>Upload your photos and videos. Upload media that feature your training and your facilities!</p>
<button class='btn avatar upload_media'>UPLOAD MEDIA</button>
<div get-url='/experts/trudy-f-277/medias' id='media'>
<ul class='media nopad' id='lightGallery'>
</ul>

</div>
</div>
<div class='white next-button'>
<button class='btn avatar save-profile'>SAVE</button>
</div>
</div>
<div class='tab-pane fade' id='packages'>
<div class='white content line w-100'>
<h1 class='nopad nomarg'>Packages</h1>
<p class='text-light help-text'>View your packages or create new one</p>
<p>
<a class="btn avatar add-package" href="#">Create New Package</a>
</p>
<p>
<table class='table' id='packages-list'>
<thead>
<th>Price</th>
<th># Sessions</th>
<th>Description</th>
<th></th>
</thead>
<tbody>
</tbody>
</table>

</p>
</div>
</div>
</div>
<% end %>

</div>

</div>
<div aria-labelledby='add_media' class='modal media' id='add_media'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SELECT IMAGE OR INSERT LINK TO VIDEO</h4>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/experts/trudy-f-277/medias" class="new_media" enctype="multipart/form-data" id="new_media" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div><input class="hide" id="media_asset" multiple="multiple" name="media[asset][]" type="file" />
<div class='col-xs-3'>
<input checked="checked" class="nomarg" id="media_kind_image" name="media[kind]" type="radio" value="image" />
<p>Image</p>
</div>
<div class='col-xs-3'>
<input class="nomarg" id="media_kind_video" name="media[kind]" type="radio" value="video" />
<p>Video</p>
</div>
<div class='clearfix'></div>
<div class='relative w-100'>
<div class='image'>
<button class='btn avatar image-upload-btn'>Select image</button>
</div>
<div class='video form' style='display:none;'>
<input id="media_video_url" name="media[video_url]" placeholder="Link to YouTube or Vimeo video" type="text" />
</div>
</div>
</form>

</div>
<div class='modal-footer'>
<img alt="Preloader" class="gs-new-preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="float: left;display:none;" />
<a class='btn btn-success add-medias-submit'>ADD</a>
</div>
</div>
</div>
</div>

<div class='modal' id='add_package_modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CREATE NEW PACKAGE</h4>
</div>
<div class='modal-body'>
<div class='form'>
<form accept-charset="UTF-8" action="/experts/trudy-f-277/packages" class="simple_form new_package" id="new_package" method="post" novalidate="novalidate"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div><div class="input integer optional package_price"><label class="integer optional control-label" for="package_price">Price</label><input class="numeric integer optional" id="package_price" name="package[price]" step="1" type="number" /></div>
<div class="input integer optional package_sessions"><label class="integer optional control-label" for="package_sessions">Sessions</label><input class="numeric integer optional" id="package_sessions" name="package[sessions]" step="1" type="number" /></div>
<div class="input text optional package_description"><label class="text optional control-label" for="package_description">Description</label><textarea class="text optional" id="package_description" name="package[description]" rows="6">
</textarea></div>
</form>

</div>
</div>
<div class='modal-footer'>
<img alt="Preloader" class="gs-new-preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="float: left;display:none;" />
<a class='btn btn-success add-package-submit'>CREATE</a>
</div>
</div>
</div>
</div>

<div class='modal' id='time_range'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>
SELECT AVAILABLE TIME FOR
<span class='day-name'></span>
</h4>
</div>
<div class='modal-body'>
<div class='form'>
<div class='col-xs-1'>
<p>From</p>
</div>
<div class='col-xs-3'>
<input class='from-time timepickers' type='text' value='Pick Time'>
<i class='fa fa-angle-down text-light ricon'></i>
</div>
<div class='col-xs-1'>
<p>to</p>
</div>
<div class='col-xs-3'>
<input class='to-time timepickers' type='text' value='Pick Time'>
<i class='fa fa-angle-down text-light ricon'></i>
</div>
</div>
</div>
<div class='modal-footer'>
<img alt="Preloader" class="gs-new-preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="float: left;display:none;" />
<a class='btn btn-success submit'>SUBMIT</a>
</div>
</div>
</div>
</div>

<div aria-labelledby='group_session_add' class='modal gs' id='group_session_add'>
<div class='modal-dialog' style='width: 550px'>
<div class='modal-content'>
<div class='modal-header' style='border: none;'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>NEW GROUP CLASS</h4>
</div>
<div class='modal-body'>
<div class='alert alert-danger alert-dismissible hide errors_list' role='alert'>
<button class='close' data-dismiss='alert' type='button'></button>
<ul></ul>
</div>
<form accept-charset="UTF-8" action="/group_sessions" class="new_group_session" id="new_group_session" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div><div class='form'>
<div class='col-xs-7 nopad'>
<label>CLASS NAME</label>
<input id="group_session_title" name="group_session[title]" type="text" />
</div>
<div class='col-xs-2'>
<label>PRICE</label>
<div class='relative'>
<i class='fa fa-usd text-light'></i>
<input id="group_session_price" name="group_session[price]" type="phone" />
</div>
</div>
<div class='col-xs-3 nopad-r'>
<label>
CAPACITY
<i class='fa fa-question-circle' data-toggle='tooltip' title='The maximum number of people that can attend this session. When the capacity is reached, this session will be unavailable for booking.'></i>
</label>
<input id="group_session_capacity" name="group_session[capacity]" type="text" />
</div>
<div class='col-xs-12 nopad'>
<label>CLASS DESCRIPTION</label>
<p class='text-light'>Describe the class. Add any skill or requirements, intensity, and anything important as part of the description.</p>
<textarea id="group_session_description" maxlength="255" name="group_session[description]" rows="6">
</textarea>
</div>
</div>
</form>


<a class='btn btn-success gs-new-submit'>CREATE NEW CLASS</a>
<img alt="Preloader" class="gs-new-preloader navbar-right" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" />
</div>
</div>
</div>
</div>

<div aria-labelledby='group_session_edit' class='modal gs' get-url='/group_sessions' id='group_session_edit'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header' style='border:none;'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>EDIT GROUP CLASS</h4>
</div>
<div class='modal-body'></div>
<div class='modal-footer'>
<img alt="Preloader" class="gs-new-preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="float: left;" />
<a class='btn btn-success gs-edit-submit'>SAVE CHANGES</a>
</div>
</div>
</div>
</div>

<div aria-labelledby='new_session_modal' class='modal gs' id='new_session_modal'>
<div class='modal-dialog' style='width: 550px;'>
<div class='modal-content'>
<div class='modal-header' style='border: none;'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>ADD NEW SESSION</h4>
<p class='text-light' style='padding-top: 20px;'>Add a new session to the class <span class='class-name'></span>. You can add duplicate sessions with different instructors or locations. New sessions can be added up to 30 minutes before the start time.</p>
</div>
<div class='modal-body'>
<div class='alert alert-danger alert-dismissible errors_list' role='alert'>
<button class='close' data-dismiss='alert' type='button'></button>
<ul></ul>
</div>
<form accept-charset="UTF-8" action="/trainer_sessions" class="new_session" id="new_session" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div><input id="session_group_session_id" name="session[group_session_id]" type="hidden" />
<div class='form form-group row'>
<div class='col-xs-4 nopad-l'>
<label>DATE</label>
<input class="datepicker" id="session_date" name="session[date]" type="text" />
</div>
<div class='col-xs-4 nopad'>
<label>START</label>
<input id="session_start" name="session[start]" type="text" />
</div>
<div class='col-xs-4 nopad-r'>
<label>END</label>
<input id="session_end" name="session[end]" type="text" />
</div>
<div class='w-100'>
<label>INSTRUCTOR</label>
<input id="session_instructor" name="session[instructor]" type="text" />
</div>
<div class='w-100'>
<label>LOCATION NAME</label>
<input id="session_location_name" name="session[location_name]" type="text" />
</div>
<div class='w-100'>
<label>ADDRESS 1</label>
<input id="session_add1" name="session[add1]" type="text" />
</div>
<div class='w-100'>
<label>ADDRESS 2</label>
<input id="session_add2" name="session[add2]" type="text" />
</div>
<div class='col-xs-4 nopad-l'>
<label>CITY</label>
<input id="session_city" name="session[city]" type="text" />
</div>
<div class='col-xs-4'>
<label>STATE</label>
<input id="session_state" name="session[state]" type="text" />
</div>
<div class='col-xs-4 nopad-r'>
<label>ZIP CODE</label>
<input id="session_zip" name="session[zip]" type="text" />
</div>
<div class='col-xs-4 nopad-l repeat_options' style='display: none'>
<label>REPEAT</label>
<select class="selectpicker default" id="session_repeat_session" name="session[repeat_session]"><option value="0">no repeat</option>
<option value="1">next week</option>
<option value="2">2 weeks</option>
<option value="3">3 weeks</option>
<option value="4">1 month</option>
<option value="8">2 months</option>
<option value="12">3 months</option></select>
</div>
<div class='col-xs-6 repeat_options' style='display: none'>
<label>&nbsp;</label>
<div class='w-100' style='margin:-10px 0 -7px'>
<input id="skip_weekeds" name="skip_weekeds" type="checkbox" value="1" />
<span>Skip weekends</span>
</div>
<div class='w-100'>
<input id="one_weekday" name="one_weekday" type="checkbox" value="1" />
<span>
<span class='dayname'></span>
only
</span>
</div>
</div>
</div>
</form>

<a class='btn btn-success add-session-submit'>ADD NEW SESSION</a>
<img alt="Preloader" class="gs-new-preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" />
</div>
</div>
</div>
</div>

<div aria-labelledby='group_sessions_history' class='modal gs' get-url='/group_sessions/:id/history' id='group_sessions_history'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header' style='border:none;'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>PAST CLASSES</h4>
</div>
<div class='modal-body wait text-center'>
<h3>Please, wait...</h3>
<img alt="Preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="margin: 20px auto;" />
</div>
<div class='modal-body ready'></div>
</div>
</div>
</div>

</div>

    <div class="push"></div>
  </div>
    <div id="footer-wrapper">
      <div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path %>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>


    </div>
  <script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');


  </script>


</body>
