<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Add1</th>
      <th>Add2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Avatar</th>
      <th>First name text</th>
      <th>Last name text</th>
      <th>Display name</th>
      <th>Expert type</th>
      <th>Foo</th>
      <th>Availability</th>
      <th>About</th>
      <th>Price</th>
      <th>Session length</th>
      <th>Experience</th>
      <th>Ages suitable</th>
      <th>Skill levels</th>
      <th>Travel</th>
      <th>Studio facility</th>
      <th>Credentials</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.add1 %></td>
        <td><%= profile.add2 %></td>
        <td><%= profile.city %></td>
        <td><%= profile.state %></td>
        <td><%= profile.zip %></td>
        <td><%= profile.avatar %></td>
        <td><%= profile.first_name_text %></td>
        <td><%= profile.last_name_text %></td>
        <td><%= profile.display_name %></td>
        <td><%= profile.expert_type %></td>
        <td><%= profile.foo %></td>
        <td><%= profile.availability %></td>
        <td><%= profile.about %></td>
        <td><%= profile.price %></td>
        <td><%= profile.session_length %></td>
        <td><%= profile.experience %></td>
        <td><%= profile.ages_suitable %></td>
        <td><%= profile.skill_levels %></td>
        <td><%= profile.travel %></td>
        <td><%= profile.studio_facility %></td>
        <td><%= profile.credentials %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
