
<body class="dashboard">
  <div class="wrapper">
    <div class='header'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<div class='collapseee' id='top-header'>
<div class='search col-xs-6'>
<form action='/searches' method='get'>
<i class='fa fa-search'></i>
<input class='nav_search query' name='query' placeholder='Search for trainers, classes. etc.' type='text'>
<input class='location nav_search' name='location' placeholder='Where?' type='text'>
<button class='btn search-submit bold'>GO</button>
</form>
</div>
<ul class='nav navbar-nav navbar-right'>
<li>
<%= link_to "BROWSE", expert_profiles_path %>
</li>
<li>
<a data-target="#sign-up-modal" data-toggle="modal" href="#">SIGN UP</a>
</li>
<li>
<a data-target="#sign-in-modal" data-toggle="modal" href="#">LOG IN</a>
</li>
</ul>
</div>
</div>
</nav>
</div>

    <div class='topmenu'>
<nav class='navbar' role='navigation'>
<div class='buyer container'>
<div class='nopad-l' id='top-menu'>
<ul class='nav navbar-nav'>
<!-- / EXPERT & BUYER SECTION -->
<!-- DISPLAY PROFILE SECTION -->
<li class='first'>
<a class='active' href='/experts/jamil-j-210'>BASIC INFO</a>
</li>
<li>
<a href='#group_classes'>GROUP CLASSES</a>
</li>
<li>
<a href='#about'>ABOUT</a>
</li>
<!-- %li -->
<!-- %a{:href => '#details', class: active['']} DETAILS -->
<li>
<a href='#media'>MEDIA</a>
</li>
<li>
<a href='#reviews'>REVIEWS</a>
</li>
</ul>
</div>
</div>
</nav>
</div>

<div class='expert-profile display'>
<div class='container reserving' reservation_path='/experts/jamil-j-210/reservations/new'>
<div class='row'>
<div class='col-xs-9 nopad main-row'>
<div class='c search-content white first'>
<div class='result-entry'>
<div class='avatar-col image'>
<img alt="Thumb unnamed" class="avatar" src="https://kuju.io/uploads/expert_profile/avatar/47/thumb_unnamed.jpg" />
</div>
<div class='desc-col'>
<p class='text-light upcase expert-type bold'>Personal Trainer</p>
<h3 class='nomarg'><%= @profile.display_name %></h3>
<div class='relative location'>
<span class='text-light bold address upcase'>
<i class='fa fa-map-marker text-light'></i>
Parsippany, New Jersey
</span>
</div>
<p class='desc' style='line-height:1.5'>
<%= @profile.about %>
</p>
</div>
<div class='clearfix'></div>
<div class='avatar-col'>
<button class='btn avatar amedia' style='width:100%'>VIEW ALL PHOTOS & VIDEOS</button>
</div>
<div class='desc-col relative availability'>
<!-- %label.avail AVAILABILITY -->
<table>
<tr>
<td>
<span class='available' data-toggle='tooltip'>
<p>MON</p>
</span>
</td>
<td>
<span data-toggle='tooltip'>
<p>TUE</p>
</span>
</td>
<td>
<span class='available' data-toggle='tooltip'>
<p>WED</p>
</span>
</td>
<td>
<span class='available' data-toggle='tooltip'>
<p>THU</p>
</span>
</td>
<td>
<span data-toggle='tooltip'>
<p>FRI</p>
</span>
</td>
<td>
<span class='available' data-toggle='tooltip'>
<p>SAT</p>
</span>
</td>
<td>
<span data-toggle='tooltip'>
<p>SUN</p>
</span>
</td>
</tr>
</table>
</div>
</div>
</div>
<div class='c first white sgroups' id='group_classes'>
<div class='panel-header'>
<h5 class='text-light'>GROUP CLASSES</h5>
<p>There are no group classes scheduled at the moment. Please check back later.</p>
<br>
</div>
</div>
<div class='c first white' id='about'>
<div class='panel-header'>
<h5 class='text-light'>ABOUT</h5>
<div class='col-xs-12 nopad'>
<div class='about helv'>
<%= @profile.about %>
</div>
</div>
</div>
</div>
<!-- .col-xs-9.c.first.white#details -->
<!-- .panel-header -->
<!-- %h5.text-light DETAILS -->
<!-- .col-xs-12.nopad.about -->
<!-- .col-xs-3.nopad-l -->
<!-- %label DURATION -->
<!-- %p= @user.profile.session_length -->
<!-- .col-xs-3 -->
<!-- %label EXPERIENCE -->
<!-- %p= @user.profile.experience -->
<!-- .col-xs-3 -->
<!-- %label TRAVEL -->
<!-- %p= @user.profile.travel -->
<!-- .col-xs-3.nopad-r -->
<!-- %label STUDIO / FACILITY -->
<!-- %p= @user.profile.studio_facility -->
<!-- .col-xs-3.nopad-l -->
<!-- %label CREDENTIALS -->
<!-- %p= @user.profile.credentials -->
<!-- .col-xs-3 -->
<!-- %label AGES -->
<!-- %p= @user.profile.ages_suitable -->
<!-- .col-xs-3.nopad-l -->
<!-- %label SKILL LEVELS -->
<!-- %p= @user.profile.skill_levels -->
<!-- .col-xs-3 -->
<!-- %label ACCOMPLISHMENTS -->
<!-- %p= @user.profile.accomplishments -->
<div class='c first white' id='media'>
<div class='panel-header'>
<h5 class='text-light'>MEDIA</h5>
</div>
<div class='col-xs-12 nopad about'>
<ul class='media nopad' id='lightGallery'>
<li class='media-entry pos-1 relative' data-src='/uploads/expert_profile/avatar/47/unnamed.jpg'>
<a href="#"><img alt="Unnamed" src="https://kuju.io/uploads/expert_profile/avatar/47/unnamed.jpg" /></a>
</li>
<li class='media-entry pos-2 relative' data-src='/uploads/media/media/asset/36/image.jpg'>
<a href="#"><img alt="Preview image" src="https://kuju.io/uploads/media/media/asset/36/preview_image.jpg" /></a>
</li>
</ul>
</div>
</div>
<div class='first white c' id='reviews'>
<div class='panel-header'>
<h5 class='text-light nopad nomarg'>REVIEWS</h5>
</div>
</div>
</div>
<div class='col-xs-3 first'>
<div class='rigth-component priceblock sticky' data-top='107'>
<h3>$50</h3>
<p class='text-light nomarg'>PER PRIVATE SESSION</p>
<p class='text-light duration'>
1 HOUR

DURATION
</p>
<div class='bottom' style='display: none'>
<p class='text-light'>SELECT YOUR SESSIONS</p>
<select id='sessions-count' style='display:none'>
<option value='1'>1 Session for $50</option>
<option value='2'>2 Sessions for $100</option>
<option value='3'>3 Sessions for $150</option>
<option value='4'>4 Sessions for $200</option>
<option value='5+'>5+ Sessions</option>
</select>
</div>
<button class='btn btn-success' id='booknow'>REQUEST PRIVATE SESSION</button>
</div>
<div class='rigth-component first white location-block'>
<div id='map_canvas' lat='40.851612' long='-74.351813'></div>
<div class='address'>
<p class='text-light'>
915 Edwards road, 915 Edwards road
</p>
<p class='text-light'>
Parsippany, New Jersey, 7054
</p>
</div>
</div>
</div>
</div>
</div>
<div aria-labelledby='ags' class='modal media' id='ags'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>GROUP CLASSES SCHEDULE</h4>
</div>
<div class='modal-body row sgroups nopad nomarg'>
<div class='col-xs-12' get-url='/trainer_sessions/list/jamil-j-210' id='sess-list'>
<div class='grayblock bold small'>
THURSDAY JAN 28
</div>
<div class='gsessions_list'>

</div>
<div class='grayblock bold small'>
FRIDAY JAN 29
</div>
<div class='gsessions_list'>

</div>
<div class='grayblock bold small'>
SATURDAY JAN 30
</div>
<div class='gsessions_list'>

</div>
<div class='grayblock bold small'>
SUNDAY JAN 31
</div>
<div class='gsessions_list'>

</div>
</div>
</div>
<div class='modal-footer' style='padding: 20px;'>
<a class='prev-week' style='display: none;'>BACK</a>
<a class='inverse next-week navbar-right'>NEXT</a>
</div>
</div>
</div>
</div>
</div>
<div aria-labelledby='r-info' class='modal' id='r-info'>
<div class='modal-dialog'>
<div class='modal-content ready' style='display:none'></div>
<div class='modal-content preloader'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='name modal-title'>PLEASE WAIT...</h4>
</div>
<div class='modal-body w-100'>
<img alt="Preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" />
</div>
</div>
</div>
</div>


      <div aria-labelledby='sign-up-modal-email' class='modal sign_modals' id='sign-up-modal-email'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/accounts/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<a class='btn btn-block btn-social btn-twitter' href='/accounts/auth/twitter'>
<i class='fa fa-twitter'></i>
Sign up with Twitter
</a>
<a class='btn btn-block btn-social btn-google-plus' href='/accounts/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/accounts" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S62MBMoVGip8CWeIKPMeGJbXGgUVs53sX4guKVKXycw=" /></div><div class='form form-group'>
<input autofocus="autofocus" class="form-control" id="user_first_name" name="user[first_name]" placeholder="FIRST NAME" required="required" type="text" />
<input class="form-control" id="user_last_name" name="user[last_name]" placeholder="LAST NAME" required="required" type="text" />
<input class="form-control" id="user_email" name="user[email]" placeholder="EMAIL ADDRESS" required="required" type="text" value="" />
<input class="form-control" id="user_password" name="user[password]" placeholder="PASSWORD" required="required" type="password" />
<input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" placeholder="CONFIRM PASSWORD" required="required" type="password" />
<input class="btn btn-success sign-up-process" name="commit" type="submit" value="SIGN UP!" />
</div>
</form>

</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>
<div aria-labelledby='sign-up-modal' class='modal sign_modals' id='sign-up-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/accounts/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Sign up with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/accounts/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
<p class='emsign'>
OR
<a class='show-email-signup' href='#'>SIGN UP WITH EMAIL</a>
</p>
</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
</div>
<div class='modal-footer'>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>

      <div aria-labelledby='sign-in-modal' class='modal sign_modals' id='sign-in-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>LOG IN</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/accounts/auth/facebook'>
<i class='fa fa-facebook'></i>
Log in with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Log in with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/accounts/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Log in with Google+
</a>
</div>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/accounts/sign_in" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S62MBMoVGip8CWeIKPMeGJbXGgUVs53sX4guKVKXycw=" /></div><div class='form form-group'>
<input class="form-control" id="user_email" name="user[email]" placeholder="Email Address" required="required" type="text" value="" />
<input class="form-control" id="user_password" name="user[password]" placeholder="Password" required="required" type="password" />
<div class='w-100 vc remember'>
<span>
<input name="user[remember_me]" type="hidden" value="0" /><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
</span>
<span class='remember'>REMEMBER ME</span>
<a class='text-right show-forgot-pass' href='#'>Forgot password?</a>
</div>
<input class="btn btn-success" name="commit" type="submit" value="LOG IN" />
</div>
</form>

</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>
<div aria-labelledby='forgot-pass-modal' class='modal sign_modals' id='forgot-pass-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>FORGOT PASSWORD</h4>
</div>
<div class='modal-body'>
<div class='form'>
<form accept-charset="UTF-8" action="/accounts/password" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S62MBMoVGip8CWeIKPMeGJbXGgUVs53sX4guKVKXycw=" /></div><input autofocus="autofocus" class="email" id="user_email" name="user[email]" placeholder="EMAIL" required="required" type="text" value="" />
<button class='btn btn-success w-100 send-reset-pass'>Send me reset password instructions</button>
</form>

</div>
<br>
</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>

    <div class="push"></div>
  </div>
    <div id="footer-wrapper">
      <div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/searches/browse">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path %>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S62MBMoVGip8CWeIKPMeGJbXGgUVs53sX4guKVKXycw=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>


    </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>

