<body class="dashboard">
  <div class="wrapper">
    <div class='header'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<div class='collapseee' id='top-header'>
<ul class='nav navbar-nav navbar-right'>
<li>
 <%= link_to("BROWSE", expert_profiles_path, method: :get)%>
</li>
<% if user_signed_in? %>
<li class='dropdown'>
<a aria-expanded='false' class='dropdown-toggle expert' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'>
  <%= current_user.first_name %>
</span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/accounts">Appointments</a>
</li>
<li>
 <%= link_to("My profile", expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
 <%= link_to("Edit profile", edit_expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
<%= link_to("Account settings", edit_user_registration_path(current_user.id), method: :get) %>
</li>
<li>
<a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a>
</li>
</ul>
</li>
<% end %>
</ul>
</div>
</div>
</nav>
</div>

   