<%= form_for(@expert_profile) do |f| %>
  <% if @expert_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expert_profile.errors.count, "error") %> prohibited this expert_profile from being saved:</h2>

      <ul>
      <% @expert_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :add1 %><br>
    <%= f.text_field :add1 %>
  </div>
  <div class="field">
    <%= f.label :add2 %><br>
    <%= f.text_field :add2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :first_name_text %><br>
    <%= f.text_field :first_name_text %>
  </div>
  <div class="field">
    <%= f.label :last_name_text %><br>
    <%= f.text_field :last_name_text %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :expert_type %><br>
    <%= f.text_field :expert_type %>
  </div>
  <div class="field">
    <%= f.label :foo %><br>
    <%= f.text_field :foo %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.text_field :availability %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_field :about %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :session_length %><br>
    <%= f.text_field :session_length %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_field :experience %>
  </div>
  <div class="field">
    <%= f.label :ages_suitable %><br>
    <%= f.text_field :ages_suitable %>
  </div>
  <div class="field">
    <%= f.label :skill_levels %><br>
    <%= f.text_field :skill_levels %>
  </div>
  <div class="field">
    <%= f.label :travel %><br>
    <%= f.check_box :travel %>
  </div>
  <div class="field">
    <%= f.label :studio_facility %><br>
    <%= f.check_box :studio_facility %>
  </div>
  <div class="field">
    <%= f.label :credentials %><br>
    <%= f.text_area :credentials %>
  </div>
  <div class="field">
    <%= f.label :listed %><br>
    <%= f.text_field :listed %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
