

<body class="dashboard">
  <div class="wrapper">
    <div class="header">
      <nav class="navbar" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
            
          </div>
        <div class="collapseee" id="top-header">
          <div class="search col-xs-6">



<%= search_form_for @q, url: expert_profiles_path, html: { method: :get } do |f| %>

<i class="fa fa-search"></i>
  <%= f.text_field :about_cont,  :placeholder => "Search", :id => "search", :class =>"nav_search query" %>
  <%= f.text_field :city_cont,  :placeholder => "Where?", :id => "where", :class =>"location nav_search" %>


<%= button_tag(type: 'submit', class: "btn search-submit bold") do %>
 GO!
  <% end %>
<% end %>






</div>
<ul class="nav navbar-nav navbar-right">
<li>
 <%= link_to("BROWSE", expert_profiles_path, method: :get)%>
</li>

<% if user_signed_in? %>
<% if current_buyer %>
<li class='dropdown'>
<a aria-expanded='false' class='dropdown-toggle expert' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'>
  <%= current_user.first_name %>
</span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/accounts">Appointments</a>
</li>

<li>
<%= link_to('Account settings', edit_user_registration_path, method: :get) %> 
</li>
<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
</ul>
</li>
<% else %>
<li class='dropdown'>
<a aria-expanded='false' class='dropdown-toggle expert' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'>
  <%= current_user.first_name %>
</span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/accounts">Appointments</a>
</li>
<li>
 <%= link_to("My profile", expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
 <%= link_to("Edit profile", edit_expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
<%= link_to('Account settings', edit_user_registration_path, method: :get) %> 
</li>
<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
</ul>
</li>
<% end %>


<% else %>

<li>
<a data-target="#sign-up-modal" data-toggle="modal" href="<%= root_url %>#">SIGN UP</a>
</li>
<li>
<a data-target="#sign-in-modal" data-toggle="modal" href="<%= root_url %>#">LOG IN</a>
</li>
<% end %>
</ul>
</div>
</div>
</nav>
</div>
<div class="search-content">
<div class="container fitted">
<div class="row">
<div class="col-xs-12 nopad search-title">
<div class="title">
<h4>BROWSE HEALTH &amp; WELLNESS PROFESSIONALS NEARBY</h4>
</div>

</div>
<div class="w-100">
  
  
<% @expert_profiles.listed.each do |expert_profile| %> 
<div class="result-entry white">
<div class="col-xs-2 nopad-l avatar">
  
  <% for attachment in expert_profile.attachments 
      if attachment.image.exists?(:medium) %>
    		<%= link_to image_tag(attachment.image.url(:thumb), :alt => "Thumb unnamed", :class => "wide"), attachment.image.url(:medium) %>
    	<% end %>
    	    	<% end %>
  

</div>
<div class="col-xs-5 nopad">
<p class="text-light upcase extype"><%= expert_profile.expert_type %></p>
<h3 class="exname">
<a href="http://kuju.io/experts/jamil-j-210"><%= link_to expert_profile.display_name, expert_profile %></a>
</h3>
<div class="relative location vc">
<div>

</div><input class="ratings" readonly="" type="hidden" value="0">
<span class="text-light address">
<i class="fa fa-map-marker text-light"></i>
<%= expert_profile.city %>, <%= expert_profile.state %>
</span>
</div>
<p class="desc"><%= expert_profile.about %> </p>

</div>
<div class="col-xs-4 text-center price-block nopad-r">
<h2 class="price">$<%= expert_profile.price %></h2>
<p class="upcase text-light nomarg">per session</p>
<table class="availability">
<tbody><tr>
<td>
   <% if expert_profile.availability.include? "Monday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>M</p>
</span>

</td>
<td>
  <% if expert_profile.availability.include? "Tuesday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>T</p>
</span>
</td>
<td>
  <% if expert_profile.availability.include? "Wednesday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>W</p>
</span>
</td>
<td>
  <% if expert_profile.availability.include? "Thursday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>TH</p>
</span>
</td>
<td>
  <% if expert_profile.availability.include? "Friday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>F</p>
</span>
</td>
<td>
  <% if expert_profile.availability.include? "Saturday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>SA</p>
</span>
</td>
<td>
  <% if expert_profile.availability.include? "Sunday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>SU</p>
</span>
</td>
</tr>
</tbody></table>
</div>
<div class="view-profile">
<%= link_to "BOOK NOW", expert_profile, :class => "btn btn-success bold" %>
</div>
</div>      
<% end %>

</div>
</div>
</div>
</div>
<div aria-labelledby='sign-up-modal-email' class='modal sign_modals' id='sign-up-modal-email'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!--<a class='btn btn-block btn-social btn-twitter' href='/accounts/auth/twitter'>-->
<!--<i class='fa fa-twitter'></i>-->
<!--Sign up with Twitter-->
<!--</a>-->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
</div>
<div class='modal-body'>
<%= form_for(:buyer, as: 'buyer', :url => buyer_registration_path ) do |f| %>
  <%= devise_error_messages! %>

  <div class="form form-group">
    
    <%= f.text_field :first_name, :class => "form-control", :placeholder => "FIRST NAME" %>
  
  
    

    <%= f.text_field :last_name, :class => "form-control", :placeholder => "LAST NAME" %>
  
  
  
  
    
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "EMAIL ADDRESS" %>
  

  

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "PASSWORD" %>
  
   
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "CONFIRM PASSWORD" %>
  

    <%= f.submit "SIGN UP!", :class => "btn btn-success sign-up-process" %>
  </div>
<% end %>

</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>
<div aria-labelledby='sign-up-modal' class='modal sign_modals' id='sign-up-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Sign up with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
<p class='emsign'>
OR
<a class='show-email-signup' href='#'>SIGN UP WITH EMAIL</a>
</p>
</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
</div>
<div class='modal-footer'>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>

  <div aria-labelledby='sign-in-modal' class='modal sign_modals' id='sign-in-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>LOG IN</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Log in with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Log in with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Log in with Google+
</a>
</div>
</div>
<div class='modal-body'>
<div class='form form-group'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email address" %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
 
<div class='w-100 vc remember'>
  <% if devise_mapping.rememberable? -%>
    
     <span class='remember'> <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </span>
  <% end -%>
</div>

    <%= f.submit "Log in", :class => "btn btn-success" %>

<% end %>
</div>

</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>
<div aria-labelledby="forgot-pass-modal" class="modal sign_modals" id="forgot-pass-modal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<span class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</span>
<h4 class="modal-title">FORGOT PASSWORD</h4>
</div>
<div class="modal-body">
<div class="form">
<form accept-charset="UTF-8" action="http://kuju.io/accounts/password" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="UJM4AT4Z8e6fkrmYUr99ZjT9ROINwpimN4oCOQbjTSo="></div><input autofocus="autofocus" class="email" id="user_email" name="user[email]" placeholder="EMAIL" required="required" type="text" value="">
<button class="btn btn-success w-100 send-reset-pass">Send me reset password instructions</button>
</form>

</div>
<br>
</div>
<div class="modal-footer">
Don't have an account?
<a class="show-sign-up" href="http://kuju.io/searches/browse#">Sign up now!</a>
</div>
</div>
</div>
</div>

    <div class="push"></div>
  </div>
    <div id="footer-wrapper">
      <div id="footer">
<div class="container">
<div class="links w-100">
<div class="footer-col">
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class="footer-col">
<h4>KUJU</h4>
<ul>
<ul>
<a href="./Kuju_ Browse_files/Kuju_ Browse.html">BROWSE</a>
</ul>
<ul>
<a href="http://kuju.io/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="http://kuju.io/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="http://kuju.io/searches/browse#">CONTACT US</a>
</ul>
<ul>
<a href="http://kuju.io/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="http://kuju.io/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class="footer-col">
<h4>GET SOCIAL</h4>
<div class="social-links">
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class="fa fa-instagram"></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class="fa fa-twitter"></i></a>
</div>
</div>
<div class="fifth-col">
<a class="navbar-right" href="http://kuju.io/searches/browse#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class="bottom w-100 block">
<span>© Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<div aria-labelledby="contact-modal" class="modal" id="contact-modal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<span class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</span>
<h4 class="modal-title">CONTACT US</h4>
<p class="text-light">If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class="modal-body">
<form accept-charset="UTF-8" action="http://kuju.io/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="UJM4AT4Z8e6fkrmYUr99ZjT9ROINwpimN4oCOQbjTSo="></div>
<div class="form">
<input class="name" name="name" placeholder="YOUR NAME" type="text">
<input class="email" name="email" placeholder="YOUR EMAIL ADDRESS" required="" type="email">
<textarea class="message" name="message" placeholder="YOUR MESSAGE" required="" rows="7"></textarea>
</div>
<button class="btn btn-success w-100 send" type="submit">SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>


    </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>



<div><div class="sweet-overlay" tabindex="-1"></div><div class="sweet-alert" tabindex="-1"><div class="icon error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="icon warning"> <span class="body"></span> <span class="dot"></span> </div> <div class="icon info"></div> <div class="icon success"> <span class="line tip"></span> <span class="line long"></span> <div class="placeholder"></div> <div class="fix"></div> </div> <div class="icon custom"></div> <h2>Title</h2><p>Text</p><button class="cancel" tabindex="2">Cancel</button><button class="confirm" tabindex="1">OK</button></div></div></body>