<% if current_buyer %>
<%= render 'buyer_header' %>
<% else %>
<%= render 'expert_header' %>
<% end %>
<script type="text/javascript">
gon.current_user=<%= current_user.id if current_user.present? %>
 </script>

    <div class='topmenu'>
<nav class='navbar' role='navigation'>
<div class='buyer container'>
<div class='nopad-l' id='top-menu'>
<ul class='nav navbar-nav'>
<!-- / EXPERT & BUYER SECTION -->
<!-- DISPLAY PROFILE SECTION -->
<li class='first'>
<!--<a class='active' href='/experts/jamil-j-210'>BASIC INFO</a>-->
</li>
<li>
<a href='#group_classes'>GROUP CLASSES</a>
</li>
<li>
<a href='#about'>ABOUT</a>
</li>
<!-- %li -->
<!-- %a{:href => '#details', class: active['']} DETAILS -->
<li>
<a href='#media'>MEDIA</a>

</li>
<li>
<a href='#reviews'>REVIEWS</a>
</li>
</ul>
</div>
</div>
</nav>
</div>

<div class='expert-profile display'>
<div class='container reserving' reservation_path='/reservations/new?expert=<%= params[:id] %>'>
<div class='row'>
<div class='col-xs-9 nopad main-row'>
<div class='c search-content white first'>
<div class='result-entry'>
<div class='avatar-col image'>

<% for attachment in @expert_profile.attachments 
      if attachment.image.exists?(:medium) %>
    		<%= link_to image_tag(attachment.image.url(:thumb), :alt => "Thumb unnamed", :class => "avatar"), attachment.image.url(:medium) %>
    	<% end %>
    	    	<% end %>
</div>
<div class='desc-col'>
<p class='text-light upcase expert-type bold'><%= @expert_profile.expert_type %></p>
<h3 class='nomarg'><%= @expert_profile.display_name %></h3>
<div class='relative location'>
<span class='text-light bold address upcase'>
<i class='fa fa-map-marker text-light'></i>
<%= @expert_profile.city %>, <%= @expert_profile.state %>
</span>
</div>
<p class='desc' style='line-height:1.5'>
<%= @expert_profile.about %>
</p>
</div>
<div class='clearfix'></div>
<div class='avatar-col'>
<!--<button class='btn avatar amedia' style='width:100%'>VIEW ALL PHOTOS & VIDEOS</button>-->
</div>
<div class='desc-col relative availability'>
<!-- %label.avail AVAILABILITY -->
<table>
<tr>
<td>
  <% if @expert_profile.availability.include? "Monday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>MON</p>
</span>

</td>
<td>
  <% if @expert_profile.availability.include? "Tuesday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>TUE</p>
</span>
</td>
<td>
  <% if @expert_profile.availability.include? "Wednesday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>WED</p>
</span>
</td>
<td>
  <% if @expert_profile.availability.include? "Thursday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>THU</p>
</span>
</td>
<td>
  <% if @expert_profile.availability.include? "Friday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>FRI</p>
</span>
</td>
<td>
  <% if @expert_profile.availability.include? "Saturday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>SAT</p>
</span>
</td>
<td>
  <% if @expert_profile.availability.include? "Sunday" %>
<span class='available' data-toggle='tooltip'>
  <% else %>
  <span data-toggle='tooltip'>
  <% end %>
<p>SUN</p>
</span>
</td>
</tr>
</table>
</div>
</div>
</div>
<div class='c first white sgroups' id='group_classes'>
<div class='panel-header'>
<h5 class='text-light'>GROUP CLASSES</h5>
<% if @group_sessions.present? %>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Description</th>
     
      
    </tr>
  </thead>

  <tbody>
    <% @group_sessions.each do |group_session| %>
      <tr class='edit-class' gsid=<%= group_session.id %>>
        <td ><%= group_session.title %></td>
        <td>$<%= group_session.price %></td>
        <td><%= group_session.capacity %></td>
        <td><%= group_session.description %></td>
        
       
        
      
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>There are no group classes scheduled at the moment. Please check back later.</p>
<br>
<% end %>
</div>
</div>
<div class='c first white' id='about'>
<div class='panel-header'>
<h5 class='text-light'>ABOUT</h5>
<div class='col-xs-12 nopad'>
<div class='about helv'>
<%= @expert_profile.about %>
</div>
</div>
</div>
</div>
<!-- .col-xs-9.c.first.white#details -->
<!-- .panel-header -->
<!-- %h5.text-light DETAILS -->
<!-- .col-xs-12.nopad.about -->
<!-- .col-xs-3.nopad-l -->
<!-- %label DURATION -->
<!-- %p= @user.profile.session_length -->
<!-- .col-xs-3 -->
<!-- %label EXPERIENCE -->
<!-- %p= @user.profile.experience -->
<!-- .col-xs-3 -->
<!-- %label TRAVEL -->
<!-- %p= @user.profile.travel -->
<!-- .col-xs-3.nopad-r -->
<!-- %label STUDIO / FACILITY -->
<!-- %p= @user.profile.studio_facility -->
<!-- .col-xs-3.nopad-l -->
<!-- %label CREDENTIALS -->
<!-- %p= @user.profile.credentials -->
<!-- .col-xs-3 -->
<!-- %label AGES -->
<!-- %p= @user.profile.ages_suitable -->
<!-- .col-xs-3.nopad-l -->
<!-- %label SKILL LEVELS -->
<!-- %p= @user.profile.skill_levels -->
<!-- .col-xs-3 -->
<!-- %label ACCOMPLISHMENTS -->
<!-- %p= @user.profile.accomplishments -->
<div class='c first white' id='media'>
<div class='panel-header'>
<h5 class='text-light'>MEDIA</h5>
</div>

    		
    	
<div class='col-xs-12 nopad about'>
<ul class='media nopad' id='lightGallery'>
  <% for attachment in @expert_profile.attachments 
      if attachment.media.exists?(:medium) %>
<li data-src="<%= attachment.media.url(:medium) %>", class='media-entry pos-1 relative'/>
    <a href="#">  <img src="<%= attachment.media.url(:thumb) %>", class = "wide" /></a>
  </li>
<% end %>
    	    	<% end %>
</ul>
</div>
</div>
<div class='first white c' id='reviews'>
<div class='panel-header'>
<h5 class='text-light nopad nomarg'>REVIEWS</h5>
</div>
</div>
</div>
<div class='col-xs-3 first'>
<div class='rigth-component priceblock sticky' data-top='107'>
<h3>$<%= @expert_profile.price %></h3>
<p class='text-light nomarg'>PER PRIVATE SESSION</p>
<p class='text-light duration'>
<%= @expert_profile.session_length.to_i/60 %> HOUR

DURATION
</p>
<div class='bottom' style='display: none'>
<p class='text-light'>SELECT YOUR SESSIONS</p>
<select id='sessions-count' style='display:none'>
<option value='1'>1 Session for $50</option>
<option value='2'>2 Sessions for $100</option>
<option value='3'>3 Sessions for $150</option>
<option value='4'>4 Sessions for $200</option>
<option value='5+'>5+ Sessions</option>
</select>
</div>
<button class='btn btn-success' id='booknow'>REQUEST PRIVATE SESSION</button>
</div>
<!--<div class='rigth-component first white location-block'>-->
<!--<div id='map_canvas' lat='40.851612' long='-74.351813'></div>-->
<!--<div class='address'>-->
<!--<p class='text-light'>-->
<!--915 Edwards road, 915 Edwards road-->
<!--</p>-->
<!--<p class='text-light'>-->
<!--Parsippany, New Jersey, 7054-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
</div>
</div>
</div>
<div aria-labelledby='ags' class='modal media' id='ags'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>GROUP CLASSES SCHEDULE</h4>
</div>
<div class='modal-body row sgroups nopad nomarg'>
<div class='col-xs-12' get-url='/trainer_sessions/list/jamil-j-210' id='sess-list'>
<div class='grayblock bold small'>
THURSDAY JAN 28
</div>
<div class='gsessions_list'>

</div>
<div class='grayblock bold small'>
FRIDAY JAN 29
</div>
<div class='gsessions_list'>

</div>
<div class='grayblock bold small'>
SATURDAY JAN 30
</div>
<div class='gsessions_list'>

</div>
<div class='grayblock bold small'>
SUNDAY JAN 31
</div>
<div class='gsessions_list'>

</div>
</div>
</div>
<div class='modal-footer' style='padding: 20px;'>
<a class='prev-week' style='display: none;'>BACK</a>
<a class='inverse next-week navbar-right'>NEXT</a>
</div>
</div>
</div>
</div>
</div>
<div aria-labelledby='r-info' class='modal' id='r-info'>
<div class='modal-dialog'>
<div class='modal-content ready' style='display:none'></div>
<div class='modal-content preloader'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='name modal-title'>PLEASE WAIT...</h4>
</div>
<div class='modal-body w-100'>
<img alt="Preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" />
</div>
</div>
</div>
</div>


<div aria-labelledby='sign-up-modal-email' class='modal sign_modals' id='sign-up-modal-email'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!--<a class='btn btn-block btn-social btn-twitter' href='/accounts/auth/twitter'>-->
<!--<i class='fa fa-twitter'></i>-->
<!--Sign up with Twitter-->
<!--</a>-->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
</div>
<div class='modal-body'>
<%= form_for(:buyer, as: 'buyer', :url => buyer_registration_path ) do |f| %>
  <%= devise_error_messages! %>

  <div class="form form-group">
    
    <%= f.text_field :first_name, :class => "form-control", :placeholder => "FIRST NAME" %>
  
  
    

    <%= f.text_field :last_name, :class => "form-control", :placeholder => "LAST NAME" %>
  
  
  
  
    
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "EMAIL ADDRESS" %>
  

  

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "PASSWORD" %>
  
   
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "CONFIRM PASSWORD" %>
  

    <%= f.submit "SIGN UP!", :class => "btn btn-success sign-up-process" %>
  </div>
<% end %>

</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>
<div aria-labelledby='sign-up-modal' class='modal sign_modals' id='sign-up-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Sign up with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
<p class='emsign'>
OR
<a class='show-email-signup' href='#'>SIGN UP WITH EMAIL</a>
</p>
</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
</div>
<div class='modal-footer'>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>

  <div aria-labelledby='sign-in-modal' class='modal sign_modals' id='sign-in-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>LOG IN</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Log in with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Log in with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Log in with Google+
</a>
</div>
</div>
<div class='modal-body'>
<div class='form form-group'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email address" %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
 
<div class='w-100 vc remember'>
  <% if devise_mapping.rememberable? -%>
    
     <span class='remember'> <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </span>
  <% end -%>
</div>

    <%= f.submit "Log in", :class => "btn btn-success" %>

<% end %>
</div>

</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>
<div aria-labelledby='forgot-pass-modal' class='modal sign_modals' id='forgot-pass-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>FORGOT PASSWORD</h4>
</div>
<div class='modal-body'>
<div class='form'>
<form accept-charset="UTF-8" action="/accounts/password" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S62MBMoVGip8CWeIKPMeGJbXGgUVs53sX4guKVKXycw=" /></div><input autofocus="autofocus" class="email" id="user_email" name="user[email]" placeholder="EMAIL" required="required" type="text" value="" />
<button class='btn btn-success w-100 send-reset-pass'>Send me reset password instructions</button>
</form>

</div>
<br>
</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>

    <div class="push"></div>
  </div>
    <div id="footer-wrapper">
      <div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S62MBMoVGip8CWeIKPMeGJbXGgUVs53sX4guKVKXycw=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>


    </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>

