<body class="dashboard">
  <div class="wrapper">
    <div class='header'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<div class='collapseee' id='top-header'>
<ul class='nav navbar-nav navbar-right'>

<li class='dropdown'>
<a aria-expanded='false' class='dropdown-toggle expert' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'><% if user_signed_in? %>
  <%= current_user.first_name %>
<% end %></span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/accounts">Appointments</a>
</li>
<li>
 <%= link_to("My profile", expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
 <%= link_to("Edit profile", edit_expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
<%= link_to("Account settings", edit_user_registration_path(current_user.id), method: :get) %>
</li>
<li>
<a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</div>

    <div class='topmenu'>
<nav class='navbar' role='navigation'>
<div class='container expert'>
<div class='nopad-l' id='top-menu'>
<ul class='nav navbar-nav'>
<!-- / EXPERT & BUYER SECTION -->
<li class='first'>
<a href="/accounts">APPOINTMENTS</a>
</li>
<li>
 <%= link_to("EDIT PROFILE", edit_expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
<a class="active" href="/accounts/edit">ACCOUNT SETTINGS</a>
</li>
<li>
<a href="/help">HELP</a>
</li>
<li class='edit-profile'>
<%= link_to "VIEW PROFILE <i class='fa fa-angle-right direction'></i>".html_safe , expert_profile_path(current_user.expert_profile.id), html_options = {:class =>'btn btn-success'} %>
</li>
</ul>
</div>
</div>
</nav>
</div>