<% if current_buyer %>
<%= render 'buyer_header' %>
<% else %>
<%= render 'expert_header' %>
<% end %>
<div class='container fitted edit-account expert-dashboard'>
<div class='row'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "edit_user" }) do |f| %>
  <%= devise_error_messages! %>
<div class='col-xs-12 white first'>
<div class='panel-header'>
<h5 class='text-light'>ACCOUNT SETTINGS</h5>
</div>
<div class='col-xs-11'>

</div>
<div class='form col-xs-5 nopad'>
<label>FIRST NAME</label>
 <%= f.text_field :first_name, autofocus: true %>
<label>LAST NAME</label>
<%= f.text_field :last_name%>
<label>EMAIL</label>
 <%= f.email_field :email, autofocus: true %>
<label>ADDRESS (1ST LINE)</label>
<%= f.text_field :add1 %>
<label>ADDRESS (2ND LINE)</label>
<%= f.text_field :add2 %>
<div class='col-xs-6 nopad-l'>
<label>CITY</label>
<%= f.text_field :city %>
</div>
<div class='col-xs-2 nopad'>
<label>STATE</label>
<%= f.text_field :state %>
</div>
<div class='col-xs-4 nopad-r'>
<label>ZIP</label>
<%= f.text_field :zip %>
</div>
<label>PHONE NUMBER</label>
<%= f.text_field :phone %>
<div class='col-xs-6 nopad-l'>
<label>SEX</label>
<div class='clearfix'></div>
<br>
<%= f.select :sex, [['Male','male'],['Female','female']] %>

</div>
<div class='col-xs-6 nopad-r'>
<label>DATE OF BIRTH</label>
<%= f.text_field :born_at, :class => "datepicker-u", :id => "user_born_at" %>

</div>
<label>NATIONAL PROVIDER IDENTIFICATION</label>
<%= f.text_field :npi %>
<button class='btn btn-success'>SAVE CHANGES</button>
</div>
</div>
<!--<div class='col-xs-12 white next payment'>-->
<!--<div class='panel-header'>-->
<!--<h5 class='text-light'>PAYOUT SETTINGS</h5>-->
<!--</div>-->
<!--<div class='alert-success payment-alert' style='margin-top: 5px;'>-->
<!--<p>-->
<!--Please send your completed W-9 form to-->
<!--<a class='inverse' href='mailto:test@test.com'>contact@test.com</a>-->
<!--in order to be paid.-->
<!--</p>-->
<!--</div>-->
<!--<p class='text-light'>You can receive your payments via PayPal or a check mailed you. Please select your preference.</p>-->
<!--<div class='paytype'>-->
<!--<p>-->
<!--Payment method:-->
<!--<span class='method'>Not set.</span>-->
<!--</p>-->
<!--</div>-->
<!--<a class='btn btn-success change-payment' data-target='#select-payout-type-modal' data-toggle='modal'>-->
<!--UPDATE PAYOUT METHOD-->
<!--</a>-->
<!--</div>-->
<div class='col-xs-12 white next'>
<div class='panel-header'>
<h5 class='text-light'>CHANGE PASSWORD</h5>
</div>
<div class='form col-xs-5 nopad'>
<label>CURRENT PASSWORD</label>
<%= f.password_field :current_password, autocomplete: "off", :hint => "we need your current password to confirm your changes" %>
<label>NEW PASSWORD</label>
<%= f.password_field :password, autocomplete: "off" %>
<label>RE-TYPE NEW PASSWORD</label>
<%= f.password_field :password_confirmation, autocomplete: "off" %>
<button class='btn btn-success'>CHANGE PASSWORD</button>
<!-- /%button.btn.btn-success.reset-password RESET PASSWORD -->
</div>
</div>
<!--<div class='col-xs-12 white next'>-->
<!--<div class='panel-header' id='email_preferences'>-->
<!--<h5 class='text-light'>MANAGE EMAIL PREFERENCES</h5>-->
<!--</div>-->
<!--<div class='form col-xs-5 nopad email_preferences'>-->
<!--<div class='w-100 vc'>-->
<!--<input checked="checked" id="user_email_preferences_promotional" name="user[email_preferences][promotional]" type="checkbox" value="true" />-->
<!--<span>Send me marketing and promotional emails</span>-->
<!--</div>-->
<!--<div class='w-100 vc'>-->
<!--<input checked="checked" id="user_email_preferences_notifications" name="user[email_preferences][notifications]" type="checkbox" value="true" />-->
<!--<span>Send me notifications</span>-->
<!--</div>-->
<!--<button class='btn btn-success'>SAVE CHANGES</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class='col-xs-12 white next'>-->
<!--<div class='panel-header'>-->
<!--<h5 class='text-light'>PIN SOCIAL ACCOUNTS</h5>-->
<!--<p class='text-light'>Link your social media account to your profile for faster login and calendar syncing</p>-->
<!--</div>-->
<!--<div class='social col-xs-5 nopad'>-->
<!--<a class='btn btn-block btn-social btn-facebook' href='/accounts/auth/facebook'>-->
<!--<i class='fa fa-facebook'></i>-->
<!--Connect with Facebook-->
<!--</a>-->
<!-- - tw = providers.include?('twitter') ? [true, 'CONNECTED'] : [false, ''] -->
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter'), disabled: tw[0]} -->
<!-- %i.fa.fa-twitter -->
<!-- Connect with Twitter -->
<!--<a class='btn btn-block btn-social btn-google-plus' href='/accounts/auth/google_oauth2'>-->
<!--<i class='fa fa-google-plus'></i>-->
<!--Connect with Google+-->
<!--</a>-->
<!--</div>-->
<!--<div class='social col-xs-3'>-->
<!--<div class='vc' style='height: 34px;'>-->
<!--<span></span>-->
<!--</div>-->
<!-- .vc{style: 'height: 34px;margin-top: 5px;'} -->
<!-- %span= tw[1] -->
<!--<div class='vc' style='height: 34px;margin-top: 5px;'>-->
<!--<span></span>-->
<!--</div>-->
<!--</div>-->
</div>
<% end %>

</div>
<div aria-labelledby='update-payment-modal' class='modal' id='update-payment-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>ADD PAYMENT METHOD</h4>
</div>
<div class='modal-body'>
<div class='form'>
<!-- STRIPE -->
<input id="stripe_card_token" name="stripe_card_token" type="hidden" />
<input id="stripe_key" name="stripe_key" type="hidden" value="pk_live_fU7AeIlS73NkzR5BPyZOF1IQ" />
<!-- CARD -->
<label>NAME ON CARD</label>
<input id="card_cardholder" name="card[cardholder]" type="text" />
<label>CARD NUMBER</label>
<input id="card_number" name="card[number]" type="text" />
<div class='col-xs-9 nopad-l'>
<label style='margin-bottom:14px;'>EXPIRATION DATE</label>
<div class='col-xs-8 nopad'>
<select class="selectpicker" id="card_expiration_date_month" name="card[expiration_date_month]">
<option value="1">1 - January</option>
<option value="2">2 - February</option>
<option value="3">3 - March</option>
<option value="4">4 - April</option>
<option value="5">5 - May</option>
<option value="6">6 - June</option>
<option value="7">7 - July</option>
<option value="8">8 - August</option>
<option value="9">9 - September</option>
<option value="10">10 - October</option>
<option value="11">11 - November</option>
<option value="12">12 - December</option>
</select>

</div>
<div class='col-xs-4 nopad-r'>
<select class="selectpicker" id="card_expiration_date_year" name="card[expiration_date_year]">
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>
<option value="2026">2026</option>
<option value="2027">2027</option>
<option value="2028">2028</option>
<option value="2029">2029</option>
<option value="2030">2030</option>
<option value="2031">2031</option>
</select>

</div>
</div>
<div class='col-xs-3 nopad'>
<label>CVC</label>
<input id="card_cvc" name="card[cvc]" type="text" />
</div>
</div>
<br>
<div class='w-100 buttons'>
<img alt="Preloader" class="preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="display:none;" />
<a class='btn btn-success payment-method-save'>SAVE</a>
<a class='btn btn-default' data-dismiss='modal'>CLOSE</a>
</div>
</div>
</div>
</div>
</div>
<div aria-labelledby='select-payout-type' class='modal' id='select-payout-type-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>PAYOUT PREFERENCE</h4>
</div>
<div class='modal-body'>
<p class='text-light'>Choose how you'd like to be paid.</p>
<button class='btn btn-success' data-dismiss='modal' data-target='#payout-paypal-modal' data-toggle='modal'>PAYPAL</button>
<button class='btn btn-success' data-dismiss='modal' data-target='#payout-email-modal' data-toggle='modal'>CHECK BY MAIL</button>
</div>
</div>
</div>
</div>
<div aria-labelledby='select-payout-type' class='modal' id='payout-email-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CHECK BY MAIL</h4>
</div>
<div class='modal-body'>
<p class='text-light'>Please confirm name on check.</p>
<div class='form'>
<input class='check-name' placeholder='NAME' type='text'>
</div>
<p class='text-light'>Your check will be mailed to the address below. If you need to change the address, please update it in the account settings section.</p>
<p></p>
<p></p>
<p></p>
<button class='btn btn-success save-payout'>SUBMIT</button>
</div>
</div>
</div>
</div>
<div aria-labelledby='select-payout-type' class='modal' id='payout-paypal-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>PAYPAL</h4>
</div>
<div class='modal-body'>
<p class='text-light'>Enter the email address tied to your Paypal account below. You must already have an existing PayPal account in order to be paid.</p>
<div class='form'>
<input class='paypal-email' placeholder='EMAIL' type='email'>
</div>
<button class='btn btn-success paypal save-payout'>SUBMIT</button>
</div>
</div>
</div>
</div>
</div>

    <div class="push"></div>
  </div>
    <div id="footer-wrapper">
      <div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/searches/browse">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>


    </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>