<p id="notice"><%= notice %></p>

<h1>Listing Group Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Description</th>
      <th>Expert profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_sessions.each do |group_session| %>
      <tr>
        <td><%= group_session.title %></td>
        <td><%= group_session.price %></td>
        <td><%= group_session.capacity %></td>
        <td><%= group_session.description %></td>
        <td><%= group_session.expert_profile_id %></td>
        <td><%= link_to 'Show', group_session %></td>
        <td><%= link_to 'Edit', edit_group_session_path(group_session) %></td>
        <td><%= link_to 'Destroy', group_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group session', new_group_session_path %>
