<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group_session.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @group_session.price %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @group_session.capacity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_session.description %>
</p>



<%= link_to 'Edit', edit_group_session_path(@group_session) %> |
<%= link_to 'Back', "#{edit_expert_profile_path(@group_session.expert_profile)}#group_sessions", method: :get  %>
