<%= form_for(@ssession) do |f| %>
  <% if @ssession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ssession.errors.count, "error") %> prohibited this ssession from being saved:</h2>

      <ul>
      <% @ssession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reservation_id %><br>
    <%= f.number_field :reservation_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
