<p id="notice"><%= notice %></p>

<h1>Listing Ssessions</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ssessions.each do |ssession| %>
      <tr>
        <td><%= ssession.reservation_id %></td>
        <td><%= ssession.date %></td>
        <td><%= ssession.time %></td>
        <td><%= link_to 'Show', ssession %></td>
        <td><%= link_to 'Edit', edit_ssession_path(ssession) %></td>
        <td><%= link_to 'Destroy', ssession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ssession', new_ssession_path %>
