<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @ssession.reservation_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @ssession.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ssession.time %>
</p>

<%= link_to 'Edit', edit_ssession_path(@ssession) %> |
<%= link_to 'Back', ssessions_path %>
