
<body class="dashboard">
  <% @avail = ExpertProfile.find(params[:expert]).availability %>
  <script type="text/javascript">
   gon.cost_per_session=<%= @p.price %>
 gon.expert_availability={"0":<% if @avail.include? "Sunday" %>true <% else %>false<% end%>,"1":<% if @avail.include? "Monday" %>true <% else %>false<% end%>,"2":<% if @avail.include? "Tuesday" %>true <% else %>false<% end%>,"3":<% if @avail.include? "Wednesday" %>true <% else %>false<% end%>,"4":<% if @avail.include? "Thursday" %>true <% else %>false<% end%>,"5":<% if @avail.include? "Friday" %>true <% else %>false<% end%>,"6":<% if @avail.include? "Saturday" %>true <% else %>false<% end%>}
gon.current_user="Mate"
 </script>
  <div class="wrapper">
    <div class='header minimal'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<a class='navbar-brand' href='/'></a>
</div>
<div class='collapseee' id='top-header'>
<div class='search col-xs-6'>
<form action='/searches' method='get'>
<input class='nav_search query' name='query' placeholder='Search for trainers, classes. etc.' type='text'>
<input class='location nav_search' name='location' placeholder='Where?' type='text'>
<button class='btn search-submit bold'>GO</button>
</form>
</div>
<ul class='nav navbar-nav navbar-right'>
<li>
<a href="/searches/browse">BROWSE</a>
</li>
<li class="divider-vertical"></li>
<li class='dropdown'>
<a aria-expanded='false' class='buyer dropdown-toggle' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'>Ivan</span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/reservations">Appointments</a>
</li>
<li>
<a href="/messages">Messages</a>
</li>
<li>
<a href="/accounts/edit">Account settings</a>
</li>
<li>
<a data-method="delete" href="/accounts/sign_out" rel="nofollow">Log Out</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</div>

    <div class='container reservation'>
<div class='row'>
<div class='col-xs-9 next' style='width:680px;'>
<h1 class='text-light'>BOOK YOUR SESSION </h1>
<a class='inverse help' data-target='#contact-modal' data-toggle='modal' href='#'>NEED HELP?</a>
</div>
<div class='clearfix'></div>
<div class='col-xs-9' style='width:700px;'>
<form accept-charset="UTF-8" action="/reservations" id="bookform" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="H8R9QkNDEIVGssFV+cbn2jMMMfueQMWj2QomFJmrljU=" /></div>
<input id="promo_code_value" name="promo_code_value" type="hidden" />
<div class='col-xs-12 white'>
<h4>SESSION DETAILS</h4>
<p class='text-light help-text b'>Please enter your preferred date and time for each session. The pro will confirm the session after your request</p>
<div class='custom-sessions form'>
<div class='csession w-100 vc'>
<div class='col-sname relative'>
<span>
Session
<span class='sess-num'>1</span>
</span>
<span class='remove-session link'>remove</span>
</div>
<div class='col-sdate'>
<input class='sdate datepicker-r' name='session[0][date]' type='text' value='Pick Date'>
</div>
<div class='col-stime'>
<input class='stime' disabled name='session[0][time]' type='text' value='Pick Time'>
<i class='fa fa-angle-down text-light ricon'></i>
</div>
</div>
<a class='inverse navbar-right add-sess'>+ ADD ANOTHER SESSION</a>
</div>

</div>
<div class='col-xs-12 white'>
<!-- // PAYMENT ############################## -->
<h4>PAYMENT</h4>
<input id="medo" name="medo" value="" type="hidden" />
<input id="stripe_card_token" name="stripe_card_token" type="hidden" />
<input id="used_card_id" name="used_card_id" type="hidden" />
<input id="used_card_number" name="used_card_number" type="hidden" />
<p class='text-light help-text'>Choose a card for payment below or enter a new card to use. You will not be charged until the sessions are confirmed by the expert.</p>
<div class='add_card_form'>
<div class='line clearfix'></div>
<div class='col-xs-7 nopad-l form'>
<!-- STRIPE -->
<input id='stripe_key' type='hidden' value='pk_test_4JVvW4r5nPWWisq1IjetaHQg'>
<!-- CARD -->
<label>NAME ON CARD</label>
<input id="card_name" name="card[name]" type="text" />
<label>CARD NUMBER</label>
<input id="card_number" name="card[number]" type="text" />
<div class='col-xs-7 nopad-l'>
<label style='margin-bottom:14px;'>EXPIRATION DATE</label>
<div class='col-xs-7 nopad'>
<select class="selectpicker" id="card_expiration_date_month" name="card[expiration_date_month]">
<option value="1">1 - January</option>
<option value="2">2 - February</option>
<option value="3">3 - March</option>
<option value="4">4 - April</option>
<option value="5">5 - May</option>
<option value="6">6 - June</option>
<option value="7">7 - July</option>
<option value="8">8 - August</option>
<option value="9">9 - September</option>
<option value="10">10 - October</option>
<option value="11">11 - November</option>
<option value="12">12 - December</option>
</select>

</div>
<div class='col-xs-5 nopad-r'>
<select class="selectpicker" id="card_expiration_date_year" name="card[expiration_date_year]">
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>
<option value="2026">2026</option>
<option value="2027">2027</option>
<option value="2028">2028</option>
<option value="2029">2029</option>
<option value="2030">2030</option>
<option value="2031">2031</option>
</select>

</div>
</div>
<div class='col-xs-2 nopad'>
<label>CVC</label>
<input id="card_cvc" name="card[cvc]" type="text" />
</div>
<div class='col-xs-3 nopad text-right savecard'>
<label>&nbsp;</label>
<i class='fa fa-check-square-o check'></i>
<input checked='checked' class='hide' name='save_card' type='checkbox' value='on'>
<span>SAVE CARD</span>
</div>
</div>
<div class='col-xs-5 nopad-r form'>
<label class='w-100' style='padding:2px 0'>&nbsp;</label>
<img alt="Checkout group" src="https://kuju.io/assets/checkout-group-6b90e9698055b82e4bc7acfee59c3ae2.png" />
</div>
</div>
</div>
<div class='col-xs-12 white'>
<h4>BILLING INFORMATION</h4>
<p class='text-light help-text'>Enter your billing information.</p>
<div class='billing-info hide'>
<p>Ivan Š.</p>
<p>, </p>
<p>,  </p>
<br>
<a class='inverse edit-bill-info-link'>EDIT BILLING INFO</a>
</div>
<div class='col-xs-6 edit-bill-info-form form nopad'>
<label>FIRST NAME</label>
<input id="user_first_name" name="user[first_name]" type="text" value=<%= current_user.first_name %> />
<label>LAST NAME</label>
<input id="user_last_name" name="user[last_name]" type="text" value=<%= current_user.last_name %> />
<label>EMAIL</label>
<input id="user_email" name="user[email]" type="text" value=<%= current_user.email %> />
<label>ADDRESS (1ST LINE)</label>
<input id="user_add1" name="user[add1]" type="text" value=<%= current_user.add1 %> />
<label>ADDRESS (2ST LINE)</label>
<input id="user_add2" name="user[add2]" type="text" value=<%= current_user.add2 %> />
<div class='col-xs-6 nopad-l'>
<label>CITY</label>
<input id="user_city" name="user[city]" type="text" value=<%= current_user.city %> />
</div>
<div class='col-xs-2 nopad'>
<label>STATE</label>
<input id="user_state" name="user[state]" type="text" value=<%= current_user.state %> />
</div>
<div class='col-xs-4 nopad-r'>
<label>ZIP</label>
<input id="user_zip" name="user[zip]" type="text" value=<%= current_user.zip %> />
<input id="expert" name="expert" type="hidden" value="<%= params[:expert] %>" />
</div>
<label>PHONE NUMBER</label>
<input id="user_phone" name="user[phone]" type="text" value="" />

</div>
</div>
<div class='col-xs-12 white'>
<h4>ADD A MESSAGE</h4>
<p class='text-light help-text'>
Tell 
a little about yourself and what you're hoping to accomplish together.
<div class='form'>
<textarea name='message' placeholder='WRITE YOUR MESSAGE' rows='6'></textarea>
</div>
</p>
</div>
<div class='col-xs-12 white'>
<div class='w-100'>
<i class='fa fa-square-o' id='terms'></i>
<p class='terms-cond'>
I agree to pay the total amount shown for the sessions. I also agree to the
<a class='inverse'>Terms of Service</a>, <a class='inverse'>Cancellation Policy</a> and <a class='inverse'>Refund Policy</a>.
</p>
</div>
<div class='w-100 text-center'>
<button class='btn btn-success w-100' disabled id='submit-order'>COMPLETE BOOKING</button>
</div>
</div>
</form>

</div>
<div class='col-xs-3 nopad-l'>
<div class='right-component booking-details sticky' data-top='144'>
<div class='w-100 vc'>
<% for attachment in @p.attachments 
      if attachment.image.exists?(:medium) %>

     <img src="<%= attachment.image.url(:thumb) %>", class = "avatar" /></a>
  
<% end %>
    	    	<% end %>
<div class='aboutt'>
<p class='name'><%= @p.display_name %> </p>
<p class='text-light upcase'><%= @p.expert_type %></p>
</div>
</div>
<div class='line'></div>
<div class='w-100 vc'>
<p class='text-light text'>
COST PER 1 HOUR  SESSION
</p>
<p class='val'>$<%= @p.price %></strong></p>
</div>
<div class='line'></div>
<div class='w-100 vc'>
<p class='text-light text'>SESSIONS BOOKED</p>
<p class='val sessions-count'>1</p>
</div>
<div class='line have-a-promo'></div>
<!--<div class='w-100 vc have-a-promo'>-->
<!--<a class='promo-link' onclick="$('#promo-code').modal('show')">HAVE A PROMO CODE?</a>-->
<!--</div>-->
<!--<div class='line'></div>-->
<div class='promo-discount w-100 vc hide'>
<p class='text-light text'>DISCOUNT</p>
<p class='val total'>$0</p>
</div>
<div class='w-100 vc'>
<p class='text-light text'>TOTAL</p>
<p class='val total' id='total-price'>$<%= @p.price %></p>
</div>
</div>
<!-- .next.guarantee -->
<!-- .w-100 -->
<!-- %p -->
<!-- %i.fa.fa.fa-check-square-o -->
<!-- SOME GARANTEE -->
<!-- %p -->
<!-- %i.fa.fa.fa-check-square-o -->
<!-- ANOTHER GARANTEE -->
</div>
</div>
<script async='' defer='defer' type='text/javascript'>
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
<script async='' defer='defer' src='https://apis.google.com/js/platform.js' type='text/javascript'></script>
<div aria-labelledby='r-success' class='modal' id='r-success'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-body'>
<h4 class='modal-title'>SUCCESS!</h4>
<p class='text-light desc'>Your booking  has been made.</p>
<div class='calendar-sync' style='display: none;'>
<h5>ADD TO CALENDAR</h5>
<div id='add-to-calendar-links'></div>
</div>
<!--<h5>SHARE THIS BOOKING</h5>-->
<!--<div class='w-100 vc shares'>-->
<!--<div class='fb-share-button' data-href='http://kuju.io/experts/jamil-j-210' data-layout='button'></div>-->
<!--<a class='twitter-share-button' data-count='none' data-size='20x80' data-text='I just booked a session on kuju.io for Personal Trainer!' data-url='http://kuju.io/experts/jamil-j-210' data-width='80px' href='https://twitter.com/share'></a>-->
<!--<div class='g-plus' data-action='share' data-annotation='none' data-height='20px' data-href='http://kuju.io/experts/jamil-j-210' data-width='81px'></div>-->
<!--</div>-->
</div>
<div class='modal-footer'>
<a class='btn btn-success' href='/reservations'>CLOSE</a>
</div>
</div>
</div>
</div>

<div class='modal' id='promo-code'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-body'>
<h4 class='modal-title'>ENTER YOUR CODE</h4>
<div class='w-100 form'>
<input id='promo-code-value' type='text'>
</div>
</div>
<div class='modal-footer'>
<div class='promo-preloader'>
<img alt="Preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" />
</div>
<a class='btn btn-success apply-promo'>APPLY</a>
<a class='btn btn-default' data-dismiss='modal'>CANCEL</a>
</div>
</div>
</div>
</div>

<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="H8R9QkNDEIVGssFV+cbn2jMMMfueQMWj2QomFJmrljU=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>

</div>

    <div class="push"></div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>
