<div aria-labelledby='apply-now-modal' class='modal' id='apply-now-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>APPLY NOW</h4>
<p class='text-light'>Please fill out the form below to begin your application process.</p>
<div class='form'>
<label>Your name</label>
<input id="name" name="name" placeholder="Name" type="text" value="" />
<label>Email</label>
<input id="email" name="email" placeholder="Email" type="email" value="" />
<label>Message</label>
<textarea id="message" name="message" placeholder="Message" rows="8">
</textarea>
<a class='btn bold btn-success-home' id='apply-now-link'>APPLY</a>
</div>
</div>
</div>
</div>
</div>