<div aria-labelledby='sign-up-modal-email' class='modal sign_modals' id='sign-up-modal-email'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!--<a class='btn btn-block btn-social btn-twitter' href='/accounts/auth/twitter'>-->
<!--<i class='fa fa-twitter'></i>-->
<!--Sign up with Twitter-->
<!--</a>-->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
</div>
<div class='modal-body'>
<%= form_for(:buyer, as: 'buyer', :url => buyer_registration_path ) do |f| %>
  <%= devise_error_messages! %>

  <div class="form form-group">
    
    <%= f.text_field :first_name, :class => "form-control", :placeholder => "FIRST NAME" %>
  
  
    

    <%= f.text_field :last_name, :class => "form-control", :placeholder => "LAST NAME" %>
  
  
  
  
    
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "EMAIL ADDRESS" %>
  

  

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "PASSWORD" %>
  
   
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "CONFIRM PASSWORD" %>
  

    <%= f.submit "SIGN UP!", :class => "btn btn-success sign-up-process" %>
  </div>
<% end %>

</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>
<div aria-labelledby='sign-up-modal' class='modal sign_modals' id='sign-up-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>SIGN UP</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Sign up with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Sign up with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Sign up with Google+
</a>
</div>
<p class='emsign'>
OR
<a class='show-email-signup' href='#'>SIGN UP WITH EMAIL</a>
</p>
</div>
<div class='modal-prefooter'>
<span>By signing up, you're agree to Kuju's <a href="/terms-of-use" target="_blank">Terms</a> and <a href="/privacy-policies" target="_blank">Privacy Policy</a>.</span>
</div>
<div class='modal-footer'>
<span>
Already have an account?
<a class='show-login'>Log in here</a>
</span>
</div>
</div>
</div>
</div>