<body class="landing">


<style>body {background: #fff}</style>
<header class='how-it-works' style='background: url(https://kuju.io/assets/header4-d428ed942ceb9a318902540d12511f9b.jpg)'>
<nav class='navbar navbar-static-top'>
<div class='container'>
<div class='navbar-header'>
<button class='navbar-toggle' data-target='.bs-navbar-collapse' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<nav class='collapse navbar-collapse bs-navbar-collapse' role='navigation'>
<div class='center-menu'>
<ul class='nav navbar-nav navbar-center'>
<li>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</li>
<li>
<a href="/how-it-works">HOW IT WORKS</a>
</li>
<li>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</li>
<!--<li>-->
<!--<a href="http://blog.kuju.io/">BLOG</a>-->
<!--</li>-->
</ul>
</div>
<div class='right-menu'>
<ul class='nav navbar-nav navbar-right'>
<li>
  <% if user_signed_in? %>
  <%= link_to "<button class=\"btn bordered-gray\">Appointments</button>".html_safe , accounts_path, :class => "nopad" %>
  
<% else %>
<button class='btn filled-green' data-target='#sign-up-modal' data-toggle='modal'>SIGN UP</button>
</li>
<li>
<button class='btn bordered-gray login' data-target='#sign-in-modal' data-toggle='modal'>LOG IN</button>
<% end %>

</li>
</ul>
</div>
</nav>
</div>
</nav>

<div class='header-content'>
<div class='container'>
<div class='row'>
<div class='col-xs-12 text-center'>
<h1>HOW IT WORKS</h1>
</div>
</div>
</div>
</div>
</header>
<section class='how-it-works'>
<div class='container explain-first'>
<div class='row text-center'>
<div class='welcome-center'>
<p>Kuju is the place to book health and nutrition experts for one-on-one online or in-person consultations.</p>
</div>
<div class='benefits'>
<div class='col-xs-4 w280 mr50'>
  <%= image_tag "hiw_discover.png", :alt => "Hiw discover", :class => "img-circle" %>

<h2>DISCOVER</h2>
<p class='text-light'>Our nutritionists are qualified professionals ready to help you reach your goals.</p>
</div>
<div class='col-xs-4 w280 mr50'>
   <%= image_tag "hiw_book.png", :alt => "Hiw book", :class => "img-circle" %>

<h2>BOOK</h2>
<p class='text-light'>Book one session or many. Tell the professional a little about yourself and your goals to get the most out of your session.</p>
</div>
<div class='col-xs-4 w280'>
   <%= image_tag "hiw_train.png", :alt => "Hiw train", :class => "img-circle" %>

<h2>ACHIEVE</h2>
<p class='text-light'>Lead a healthy lifestyle with the help of dedicated professionals.</p>
</div>
</div>
</div>
</div>
<div class='explain-second'>
<div class='container'>
<div class='row'>
<div class='col-xs-8 col-xs-offset-2 text-center'>
<h3>WHAT MAKES KUJU AWESOME</h3>
</div>
<div class='columns'>
<div class='col-xs-3 w220 mr20'>
<h5>QUALITY</h5>
<p class='text-light'>Our professionals are hand picked and vetted to ensure exceptional experiences for each client.</p>
</div>
<div class='col-xs-3 w220 mr20'>
<h5>AFFORDABLE</h5>
<p class='text-light'>No matter the budget, you can find and book nutritionists that meet your requirements.</p>
</div>
<div class='col-xs-3 w220 mr20'>
<h5>ON DEMAND</h5>
<p class='text-light'>Book online or in-person consultations when you want.</p>
</div>
<div class='col-xs-3 w220'>
<h5>EASY & CONVENIENT</h5>
<p class='text-light'>No more wasting time searching online and calling endlessly to find the classes you want. Find and book quickly.</p>
</div>
<div class='col-xs-3 w220 mr20'>
<h5>100% MONEY BACK</h5>
<p class='text-light'>Not totally happy your session? We offer 100% money back guarantee so you can book your session worry-free.</p>
</div>
<div class='col-xs-3 w220 mr20'>
<h5>ZERO COMMITMENT</h5>
<p class='text-light'>No annoying contracts to sign. Book as little or as many sessions as you want, when you want.</p>
</div>
<div class='col-xs-3 w220'>
<h5>SECURE</h5>
<p class='text-light'>Payments are processed securely. Message your trainers without giving up your personal contact information.</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- Start Footer -->
<footer class='how-it-footer'>
<div class='container'>
<div class='row' style='text'>
<div class='col-xs-8 col-xs-offset-2'>
<h2>Book a nutritionist now</h2>
<div class='search-engine'>
<form action='searches' method='get'>
<div class='main-search vc'>
<input id='search' name='query' placeholder='Search' style='line-height: normal;' type='text' value=''>
<input id='where' name='location' placeholder='Where?' style='line-height: normal;' type='text' value=''>
<input id='submit-search' type='submit' value='Search'>
</div>
</form>
</div>
</div>
<div class='col-xs-10 col-xs-offset-1'>
<p class='member'>ARE YOU A FITNESS OR WELLNESS PROFESSIONAL LOOKING FOR MORE CLIENTS?</p>
<a class='list-services' href='/list-your-services'>LIST YOUR SERVICES ON KUJU</a>
</div>
</div>
</div>
</footer>
<div id='footer-wrapper'>
<div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>


</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<%= render 'contactus' %>

</div>
<%= render 'signup' %>
<%= render 'signin' %>
<%= render 'forgotpass' %>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>