<body class="landing">


<style>body {background: #fff}</style>
<header class='list-your-services' style='background: url(https://kuju.io/assets/listyourservices-88e71f9d1a58ec69521192d3f013b344.jpg)'>
<nav class='navbar navbar-static-top'>
<div class='container'>
<div class='navbar-header'>
<button class='navbar-toggle' data-target='.bs-navbar-collapse' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<nav class='collapse navbar-collapse bs-navbar-collapse' role='navigation'>
<div class='center-menu'>
<ul class='nav navbar-nav navbar-center'>
<li>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</li>
<li>
<a href="/how-it-works">HOW IT WORKS</a>
</li>
<li>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</li>
<!--<li>-->
<!--<a href="http://blog.kuju.io/">BLOG</a>-->
<!--</li>-->
</ul>
</div>
<div class='right-menu'>
<ul class='nav navbar-nav navbar-right'>
<li>
<% if user_signed_in? %>
 <%= link_to "<button class=\"btn bordered-gray\">Appointments</button>".html_safe , accounts_path, :class => "nopad" %>
<% else %>
<button class='btn filled-green' data-target='#sign-up-modal' data-toggle='modal'>SIGN UP</button>
</li>
<li>
<button class='btn bordered-gray login' data-target='#sign-in-modal' data-toggle='modal'>LOG IN</button>
<% end %>
</li>
</ul>
</div>
</nav>
</div>
</nav>

<div class='header-content'>
<div class='container'>
<div class='row'>
<div class='col-xs-12 text-center'>
<h2>FITNESS & WELLNESS PROFESSIONALS:</h2>
<h1>LIST YOUR SERVICES ON KUJU</h1>
</div>
</div>
</div>
</div>
</header>
<section class='list-your-services'>
<div class='container explain-first'>
<div class='row text-center'>
<div class='welcome-center'>
<p>Whether you're a personal trainer, gym or studio, Kuju is the best place to list your business and start finding new clients. Spend less time marketing, and more time doing what you do.</p>
</div>
<div class='w900'>
<div class='half half-left'>
<div class='img-square'>
   <%= image_tag "1-0.png", :alt => "1" %>

</div>
<div class='piece-content'>
<h4>LET CLIENTS COME TO YOU</h4>
<p class='text-light'>We believe you should spend more time doing the things you love. Just create your profile, add group or private sessions and have the clients come to you. No more wasting time chasing down leads, sending quotes or putting up ads.</p>
</div>
</div>
<div class='half half-right'>
<div class='img-square'>
 <%= image_tag "2-93.png", :alt => "2" %>
</div>
<div class='piece-content'>
<h4>NO SIGN UP FEES</h4>
<p class='text-light'>Creating a profile and listing on Kuju is absolutely free. We charge a small fee for each confirmed session booking.</p>
</div>
</div>
<div class='clearfix'></div>
<div class='half half-left'>
<div class='img-square'>
 <%= image_tag "3-653484.png", :alt => "3" %>
</div>
<div class='piece-content'>
<h4>GET STARTED IN MINUTES</h4>
<p class='text-light'>Setting up your profile and sessions is super easy and takes only minutes. You'll be set up and ready to accept client bookings in no time.</p>
</div>
</div>
<div class='half half-right'>
<div class='img-square'>
 <%= image_tag "4-546350.png", :alt => "4" %>
</div>
<div class='piece-content'>
<h4>EXTREMELY FLEXIBLE</h4>
<p class='text-light'>Offer 100 different group classes or just one. Want to offer private classes as well? No problem. Easily create and edit your classes, rates, availability and more. Scale your business however you want.</p>
</div>
</div>
<div class='clearfix'></div>
<div class='half half-left'>
<div class='img-square'>
 <%= image_tag "5-4979.png", :alt => "5" %>
</div>
<div class='piece-content'>
<h4>SECURE ONLINE PAYMENTS</h4>
<p class='text-light'>Get paid quickly and painlessly throughs secure online payments or check payments. You are guaranteed to be paid for each confirmed booking. The days of sending invoices and flaky clients are over.</p>
</div>
</div>
<div class='half half-right'>
<div class='img-square'>
 <%= image_tag "6-2896550.png", :alt => "6" %>
</div>
<div class='piece-content'>
<h4>WE'RE HERE TO HELP</h4>
<p class='text-light'>We're here to answer all of your questions. Simply send us an email and we will get back to you as soon as possible.</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- Start Footer -->
<footer class='how-it-footer list-your-services'>
<div class='container'>
<div class='row text'>
<div class='col-xs-12'>
<h2>APPLY NOW TO LIST ON KUJU AND GET NEW CLIENTS.</h2>
<a class='btn btn-success apply'  data-target='#apply-now-modal' data-toggle='modal' href='#'>APPLY NOW</a>
</div>
</div>
</div>
</footer>
<!-- End Footer -->
<div id='footer-wrapper'>
<div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<%= render 'contactus' %>

</div>
<%= render 'signup' %>
<%= render 'signin' %>
<%= render 'forgotpass' %>
<%= render 'applynow' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>