<body class="landing">


<div class="container">
<p>PLEASE READ THESE
TERMS OF SERVICE CAREFULLY. BY ACCESSING OR USING KUJU.IO, OUR
APPLICATIONS OR ANY SERVICES PROVIDED BY US, YOU AGREE TO BE BOUND BY
THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS AND
CONDITIONS, DO NOT ACCESS OR USE OUR APPLICATIONS OR WEBSITES OR ANY
SERVICES PROVIDED BY US.  
</p>
<p>This USER Agreement
(the &quot;Agreement&quot;) and the policies referred to herein
contain the complete terms and conditions that apply to your use of
the personal training scheduling and other services (the &quot;Services&quot;)
being offered at the URL: http://www.kuju.com and all affiliated web
sites and applications owned and operated solely by Kuju, LLC
(collectively, the &quot;Site&quot;). 
</p>
<p>As used in this
Agreement, &quot;Kuju&quot; refers to Kuju, LLC, and &quot;USER&quot;
or &quot;you&quot; refers to you. USE OF THE SERVICES AND THE KUJU
SITE CONSTITUTES KNOWING ACCEPTANCE AND ACKNOWLEDGEMENT OF THIS USER
AGREEMENT, AND KUJU'S PRIVACY POLICY (COLLECTIVELY, THE “Kuju
POLICIES)”. Kuju may modify this Agreement's terms and conditions
at any time without notice. Continued use of the Services and the
Site after a change in this Agreement, or after implementation of any
other new policy, constitutes acceptance of such change or policy. IF
YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT OR ANY REVISED
VERSION OF THIS AGREEMENT, PLEASE DO NOT USE THIS SITE.</p>
<p>1. WHAT WE DO.  Kuju
provides the Services to USER for the purpose of assisting USER in
scheduling and purchasing personal training sessions with
participating third party fitness clubs and personal trainers (each a
&quot;Trainer&quot;). In response to a USER's online request, the
Site directly contacts the Trainer. The availability of sessions is
determined at the time of USER's query. Once a booking is made by
USER, Kuju will provide confirmation of the session to USER by email.
By using the Services, USER agrees to receive session confirmations
by email after booking a session through the Site. 
</p>
<p>2. NO SHOW POLICY. 
Kuju is committed to providing superior quality services to its USERS
and Trainers. To assist us in maintaining a consistently high level
of service with the participating fitness clubs and trainers, you are
asked to cancel or reschedule online any session that you will be
unable to honor at least 24 hours in advance of the start time of the
original session in order to receive a credit for the full value of
your original session. If you are unable to keep your session and you
fail to cancel, you will forfeit the full value of your session and
Kuju reserves the right to give you no credit for the session.  If
you cancel in accordance with this policy, Kuju will grant you a
credit to be used for future purchases; such creditors are not
redeemable for cash or cash equivalents, are non-transferable, and
may not be applied towards prior purchases. Other restrictions may
apply. We reserve the right to rescind any credits subject to
reasonable notice to you.</p>
<p><BR>
</p>
<p>3. REGISTRATION
DATA; ELIGIBILITY.  To access certain areas and features of the
Services, you may be required to register with Kuju. If you register,
you will (i) provide accurate, current and complete information about
you as may be prompted by any signup, login and/or registration forms
made available via the Services (the &quot;Registration Data&quot;);
(ii) maintain and promptly update the Registration Data, and any
other information you provide to Kuju, in order to keep it accurate,
current and complete; and (iii) accept all risk of unauthorized
access to the Registration Data and any other information you provide
to Kuju.  Kuju is under no obligation to retain a record of your
account or any data or information that you may have stored by means
of your account or your use of the Services. You are only authorized
to create and use one account for the Services and are prohibited
from using alter egos or other disguised identities when using the
Services. You are under no obligation to use or continue to use the
Services and may stop using the Services without notice to Kuju.  You
may not use the Services if you are under 18 years of age (or the age
of majority in your jurisdiction).</p>
<p>4. USAGE GUIDELINES.
 The Services are being offered to USER for USER's personal use. USER
agrees to use the Services only to book sessions with participating
Trainers and then honor those sessions by arriving at the designated
location on time and ready to train. By booking a session at a
fitness club, USER also agrees to be bound by any applicable Terms of
Use, if any, for such fitness club. Resale or attempted resale of
sessions is prohibited, and is grounds for, among other things,
cancellation. 
</p>
<p><BR>
</p>
<p>5. DEVICE USAGE
TERMS AND CONDITIONS.  You acknowledge and agree that your use of the
Site must also be in accordance with the usage rules established by
your mobile device platform or service provider.</p>
<p>6. PRIVACY POLICY. 
Kuju is committed to safeguarding your privacy online. Please review
our privacy policy (the “Privacy Policy”). 
</p>
<p>7. EMAIL POLICY. 
You may receive periodic emails from Kuju. If you would rather not
receive email from Kuju, please unsubscribe either by clicking on the
“Unsubscribe” link at the bottom of the email or by updating your
preferences on your “My Account” page. USER acknowledges and
agrees, however, that USER will still receive emails relating to your
sessions booked through the Site or changes made to your account
through the Site, even if USER has opted not to receive periodic
email from Kuju. You will never receive email from any third party
affiliated with Kuju, such as a fitness club, unless you have
affirmatively opted to receive such email. In accordance with our
Privacy Policy, we do not share any of your individual information
without your prior consent.  You agree that all agreements, notices,
disclosures and other communications that we provide to you
electronically satisfy any legal requirement that these
communications be in writing.</p>
<p>8. CONSENT TO USE OF
DATA AND MOBILE COMMUNICATIONS.  In exchange for Kuju providing you
with access to the Services, you consent to Kuju collecting and using
technical data, personal information and related information in
connection with your use of the Services, including, but not limited
to, contact information and technical information about your device,
system and application software, and peripherals, that are gathered
periodically to facilitate the features and functionality of the
Services and of software updates, product support and other services.
You also consent to our communicating with you about the Services.</p>
<p>9. INTELLECTUAL
PROPERTY AND GRANT OF RIGHTS TO USER.  The materials and services
provided for and depicted on the Site are protected by copyright,
trademark, patent and other intellectual property laws. All text,
graphics, video, data, software or other content on the Site (&quot;Kuju
Content&quot;) is provided to USER by Kuju for the sole purpose of
using the Services. USER shall not copy, display, modify, create
derivative works of, publish, rent, lease, redistribute, sublicense,
sell, decompile or reverse-engineer the Kuju Content or any
information, software, or services provided by Kuju hereunder. The
Kuju Content may be modified from time to time by Kuju in its sole
discretion. Except as expressly set forth herein, no license is
granted to USER for any other purpose, and any other use of the
Services or the Kuju Content by USER shall constitute a material
breach of this Agreement. Nothing in this Agreement shall affect any
rights of Kuju or its licensors in the Services or Kuju Content, and
any associated patents, trademarks, copyrights, mask work rights,
trade secrets or other intellectual property rights. No license,
right or interest in any trademarks of Kuju or any third party is
granted under this Agreement. Nothing in this Agreement shall affect
any rights of Kuju or its licensors in the Services or Kuju Content,
and any associated patents, trademarks, copyrights, mask work rights,
trade secrets or other intellectual property rights. No license,
right or interest in any trademarks of Kuju or any third party is
granted under this Agreement. If you violate any of the foregoing
restrictions, your right to use of the Services will immediately
cease, and you will have infringed the copyright and other rights of
Kuju, which may subject you to prosecution and damages. Kuju reserves
all rights not expressly granted to you in these Terms.</p>
<p><BR>
</p>
<p>10. PRODUCT
DESCRIPTIONS.  Kuju attempts to be as accurate as possible. If you
have reason to believe that a session you purchased through the
Services does not meet the claims advertised within the Services, you
must contact Kuju immediately (and in any case no later than three
business days following the session date). Your failure to contact us
within in this period may affect our ability to investigate and
resolve your claim.</p>
<p>11. PRICES.  Kuju
makes no guarantee that the prices advertised through the Services
represent (i) the lowest price for a session in every area on any
particular day or (ii) the published price for a session on another
website or publication not affiliated with Kuju in every area on any
particular day.  Kuju provides a full money back guarantee for any
reasonable issue with any Services or sessions.</p>
<p>12. PURCHASING
SESSIONS FROM KUJU.  When you purchase a session using the Services,
you are representing the following: (i) any credit information you
supply is true and complete; (ii) charges incurred by you will be
honored by your credit card company and (iii) you will pay the posted
price for the session, even if you are unable to attend that session.
Posted session rates include applicable taxes. You are responsible
for paying the fitness club or trainer directly for any additional
services or charges you incur once you are at the session.</p>
<p>13. USER CONTENT AND
YOUR CONDUCT.  The Services includes forums and other interactive
areas or services (“Interactive Areas”) in which you or other
users can create, post or share content, ratings, reviews, materials,
data, information, text, photos and/or other materials (“User
Content”). You are solely responsible for your use of such
Interactive Areas and the User Content you share. You agree not to
post, upload to, transmit, distribute, store, create or otherwise
publish through the Services any of the following:</p>
<p>User
Content that is libelous, defamatory, profane, obscene, pornographic,
sexually explicit, indecent, lewd, vulgar, suggestive, violent,
harassing, hateful, threatening, offensive, discriminatory, bigoted,
abusive, inflammatory, fraudulent, deceptive or otherwise
objectionable; User Content that is illegal or unlawful, that would
constitute, encourage or provide instructions for a criminal offense,
or that would otherwise create liability or violate any local, state,
provincial, national or international law; User Content that may
infringe or violate any patent, trademark, trade secret, copyright,
right of privacy, right of publicity or other intellectual property
right, or any other right, of any party; Unsolicited promotions,
political campaigning or commercial messages (SPAM), or any chain
messages or User Content designed to deceive or trick a user of the
Service; Private information of any third party including, but not
limited to, addresses, phone numbers, email addresses, Social
Security numbers and credit card numbers; and Viruses, corrupted data
or other harmful, disruptive or destructive files or code, script or
other software designed to automate any functionality on the Service
without Kuju's express written consent. 
</p>
<p>You further agree
that you are solely responsible for your conduct while using the
Services and that you will not do any of the following in connection
with the Services or its users:</p>
<p>Use
the Service in any manner that could interfere with, disrupt,
negatively affect or inhibit other users from fully enjoying the
Services or that could damage, disable, overburden or impair the
functioning of the Services in any manner; Collect any personally
identifiable information about other users (except as specifically
authorized by Kuju), or intimidate, threaten, stalk or otherwise
harass or cause discomfort to other users of the Services; Use the
Services for any commercial purpose; Use the Services for any illegal
or unauthorized purpose or engage in, encourage or promote any
illegal activity or any activity that violates these Terms or any
other rules or polices established from time-to-time by Kuju; Create
an account, post any content, or otherwise use the Services if you
are not at least 18 years of age; Modify, adapt, hack or emulate the
Services; Circumvent or attempt to circumvent any filtering, security
measures or other features designed to protect the Services or users
of the Services or third- parties; and Infringe upon or violate the
rights of Kuju, our users or any third party.  Kuju takes no
responsibility and assumes no liability for any user conduct or for
any User Content posted, stored or made available via the Services.
Kuju will not be liable for any mistakes, defamation, slander, libel,
omissions, falsehoods, obscenity, pornography or profanity you may
encounter through the Services. Your use of the Services, including
any Interactive Areas, is at your own risk. Enforcement of the user
content and conduct rules set forth in these Terms is solely at
Kuju's discretion, and failure to enforce such rules in some
instances does not constitute a waiver of our right to enforce such
rules in other instances. In addition, these rules do not create any
private right of action on the part of any third party or any
reasonable expectation that the Service will not contain any content
that is prohibited by these rules. If you do submit material, and
unless we indicate otherwise, you grant Kuju a nonexclusive,
perpetual, royalty-free, irrevocable, and fully sublicensable right
to use, modify, reproduce, adapt, translate, publish, create
derivative works from, distribute, and display such content
throughout the world in any media. You represent and warrant that you
own or otherwise control all of the rights to the content that you
submit; that the content is accurate; that use of the content you
supply does not violate this policy and will not cause injury to any
person or entity; and that you will indemnify Kuju for all claims
resulting from content you supply. Kuju has the right but not the
obligation to monitor and edit or remove any activity or content,
including but not limited to content that violates the standards of
this website, as determined by Kuju in its sole discretion.</p>
<p>Kuju expressly
reserves all its rights and remedies under applicable state and
federal law.  Any and all other uses which are unlawful or in
violation of this Agreement's terms and conditions are prohibited.
Kuju reserves the right, in its sole discretion, to refuse service,
terminate accounts, remove or edit content, or cancel sessions.</p>
<p>14. THIRD-PARTY
INTERACTIONS.  Your use of the Services and your contact, interaction
or dealings with any third parties arising out of your use of the
Services is solely at your own risk. The fitness clubs, trainers and
other suppliers of Kuju are independent contractors and not agents or
employees of Kuju. Kuju is not responsible for, and will not be held
liable for, the acts, errors, omissions, representations, warranties,
breaches or negligence of any of these fitness clubs, trainers or
other suppliers for any personal injuries, death, property damage,
loss, theft or other damages or expenses resulting therefrom.</p>
<p>15. ACCESS AND
INTERFERENCE.  Much of the information on the Site is updated on a
real time basis and is proprietary or licensed to Kuju by its
trainers, fitness clubs or third parties. By using the Site, you
agree not to:</p>
<p>Use any robot,
spider, scraper or other automatic device, process or means to access
the Site for any purpose without Kuju’s express written permission.
 Take any action that imposes or may impose (in Kuju’s sole
discretion) an unreasonable or disproportionately large load on our
infrastructure.  Implement any manual processes to monitor or copy
Kuju Content from the Site without express written permission. 
Utilize any device, software or routine that will interfere or
attempt to interfere with the functionality of the Site.  You must
have JavaScript enabled to use this site. Portions of the Site,
including but not limited to: making, modifying or canceling
sessions, may not be accessible with JavaScript disabled.</p>
<p>16. TERMINATION OR
MODIFICATION OF APPLICATION.  Kuju reserves the right to change,
suspend, remove, discontinue or disable access to the Services
(including, but not limited to, the Site) at any time without notice.
In no event will Kuju be liable for the removal of or disabling of
access to any portion or feature of the Services (including, but not
limited to, the Site).</p>
<p>17. TERMINATION.  If
you breach any of the terms or conditions of this Agreement or Kuju
discontinues the Site, these Terms will automatically terminate. In
the event of the termination of this Agreement for any reason, the
license granted to you in this Agreement will immediately terminate
and you must immediately stop all use of the Services (including the
Site). All of the sections of this Agreement that by their nature
should survive termination will survive any termination of this
Agreement. For avoidance of doubt, the License section will not
survive termination of this Agreement. Any use of the Services after
termination is unlicensed and is in violation of the copyright and
other rights of Kuju. Kuju and our affiliates reserve the right to
refuse service, terminate accounts, remove or edit content or cancel
orders in our sole discretion.</p>
<p>18. UNLAWFUL
ACTIVITY.  We reserve the right to investigate complaints or reported
violations of this Agreement and to take any action we deem
appropriate, including, but not limited to, reporting any suspected
unlawful activity to law enforcement officials, regulators or other
third parties, and disclosing any information necessary or
appropriate to such persons or entities relating to your Registration
Data, usage history, posted materials, IP addresses and traffic
information.</p>
<p>19. INFORMATION AND
PRESS RELEASES.  The Site may contain information and press releases
about us. We disclaim any duty or obligation to update this
information. Information about companies other than ours contained in
any press release or otherwise should not be relied upon as being
provided or endorsed by us.</p>
<p>20. LIABILITY
LIMITATIONS.  IN NO EVENT SHALL KUJU BE LIABLE FOR ANY INJURY, LOSS,
CLAIM, DAMAGE OR ANY SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR
CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER BASED IN CONTRACT, TORT OR
OTHERWISE, WHICH ARISES OUT OF OR IS ANY WAY CONNECTED WITH (I) ANY
USE OF THE SERVICES, THE KUJU SITE OR THE KUJU CONTENT, (II) ANY
FAILURE OR DELAY (INCLUDING, BUT NOT LIMITED TO, THE USE OR INABILITY
TO USE ANY COMPONENT OF THE SERVICES OR THE KUJU SITE FOR SESSIONS),
OR (III) THE PERFORMANCE OR NON-PERFORMANCE OF ANY TRAINER OR FITNESS
CLUB IN CONNECTION WITH THE SERVICES. IN ADDITION, ALL USERS
SPECIFICALLY UNDERSTAND AND AGREE THAT ANY THIRD PARTY DIRECTING
USERS TO THE KUJU SITE BY REFERRAL, LINK OR ANY OTHER MEANS IS NOT
LIABLE TO USER FOR ANY REASON WHATSOEVER, INCLUDING BUT NOT LIMITED
TO DAMAGES OR LOSS ASSOCIATED WITH THE USE OF THE SERVICES, THE KUJU
SITE OR THE KUJU CONTENT. KUJU IS NEITHER AN AGENT OF NOR IS
CONNECTED WITH ANY AFFILIATED TRAINER OR FITNESS CLUB IN WHICH A USER
HAS MADE A SESSION. ASIDE FROM THE SERVICES PROVIDED ON THE KUJU
SITE. KUJU IS NOT LIABLE FOR ANY INJURY, LOSS, CLAIM, DAMAGE OR ANY
SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF
ANY KIND, WHETHER BASED IN CONTRACT, TORT OR OTHERWISE, WHICH ARISES
OUT OF OR IS IN ANY WAY CONNECTED WITH A USER’S VISIT TO AN
AFFILIATED TRAINER OR FITNESS CLUB.21. DISCLAIMER OF WARRANTYTHE
INFORMATION, PROGRAMS, PRODUCTS, AND MATERIALS CONTAINED IN OR
ACCESSED ON THE KUJU SITE, INCLUDING, WITHOUT LIMITATION, THE
SERVICES AND THE KUJU CONTENT, ARE PROVIDED TO USER ON AN 'AS IS'
BASIS AND WITHOUT WARRANTY OF ANY KIND. KUJU DISCLAIMS ALL
WARRANTIES, EXPRESSED OR IMPLIED, WITH RESPECT TO THE SERVICES, THE
KUJU SITE, THE KUJU CONTENT AND RELATED MATERIALS PROVIDED HEREUNDER
INCLUDING, WITHOUT LIMITATION, ANY WARRANTY OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR ARISING FROM A
COURSE OF DEALING.</p>
<p>22. INDEMNIFICATION.
 You will defend, indemnify and hold us, our independent contractors,
service providers and consultants, and their respective directors,
employees and agents, harmless from and against any and all actual or
threatened third-party suits, actions, proceedings (at law or in
equity), claims, damages, payments, deficiencies, fines, judgments,
settlements, liabilities, losses, costs and expenses (including, but
not limited to, reasonable attorney fees, costs, penalties, interest
and disbursements) caused by, arising out of, resulting from,
attributable to or in any way incidental to (i) your conduct; (ii)
your violation of this Agreement or your violation of the rights of
any third party; or (iii) any User Content you share. 
</p>
<p>23. THIRD-PARTY
CONTENT.  Kuju may provide third-party content via the Services and
may provide links to webpages and content of third parties
(collectively, “Third-Party Content”) as a service to those
interested in this information. Kuju does not control, endorse or
adopt any Third-Party Content and makes no representation or
warranties of any kind regarding Third-Party Content including, but
not limited to, its accuracy or completeness. Kuju is not responsible
or liable in any manner for any Third-Party Content and undertakes no
responsibility to update or review any Third-Party Content. Users use
Third-Party Content at their own risk.</p>
<p>24. SEVERABILITY. 
If any of the provisions, or portions thereof, of this Agreement are
found to be invalid under any applicable statute or rule of law,
then, that provision notwithstanding, this Agreement shall remain in
full force and effect and such provision or portion thereof shall be
deemed omitted.</p>
<p>25. NO ASSIGNMENT. 
This Agreement and the rights granted and obligations undertaken
hereunder may not be transferred, assigned or delegated in any manner
by USER, but may be so transferred, assigned or delegated by Kuju.</p>
<p>26. WAIVER.  Any
waiver of any provision of this Agreement, or a delay by any party in
the enforcement of any right hereunder, shall neither be construed as
a continuing waiver nor create an expectation of non-enforcement of
that or any other provision or right.</p>
<p>27. ARBITRATION
AGREEMENT AND JURY TRIAL WAIVER, CLASS ACTION WAIVER, AND FORUM
SELECTION CLAUSE.  Any and all controversies, disputes, demands,
counts, claims, or causes of action (including the interpretation and
scope of this clause, and the arbitrability of the controversy,
dispute, demand, count, claim, or cause of action) between you and
Kuju or Kuju's employees, agents, successors, or assigns, shall
exclusively be settled through binding and confidential arbitration. 
Arbitration shall be subject to the Federal Arbitration Act and not
any state arbitration law. The arbitration shall be conducted before
one commercial arbitrator with substantial experience in resolving
commercial contract disputes from the American Arbitration
Association (“AAA”). As modified by this Agreement, and unless
otherwise agreed upon by the parties in writing, the arbitration will
be governed by the AAA’s Commercial Arbitration Rules and, if the
arbitrator deems them applicable, the Supplementary Procedures for
Consumer Related Disputes (collectively “Rules and Procedures”).You
are thus GIVING UP YOUR RIGHT TO GO TO COURT to assert or defend your
rights EXCEPT for matters that may be taken to small claims court.
Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a
judge or jury. You are entitled to a FAIR HEARING, BUT the
arbitration procedures are SIMPLER AND MORE LIMITED THAN RULES
APPLICABLE IN COURT. Arbitrator decisions are as enforceable as any
court order and are subject to VERY LIMITED REVIEW BY A COURT.  You
and Kuju must abide by the following rules: (a) ANY CLAIMS BROUGHT BY
YOU OR KUJU MUST BE BROUGHT IN THE PARTIES’ INDIVIDUAL CAPACITY,
AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
REPRESENTATIVE PROCEEDING; (b) THE ARBITRATOR MAY NOT CONSOLIDATE
MORE THAN ONE PERSON’S CLAIMS, MAY NOT OTHERWISE PRESIDE OVER ANY
FORM OF A REPRESENTATIVE OR CLASS PROCEEDING, AND MAY NOT AWARD
CLASS-WIDE RELIEF; (c) in the event that you are able to demonstrate
that the costs of arbitration will be prohibitive as compared to
costs of litigation, Kuju will pay as much of your filing and hearing
fees in connection with the arbitration as the arbitrator deems
necessary to prevent the arbitration from being cost-prohibitive as
compared to the cost of litigation, (d) Kuju also reserves the right
in its sole and exclusive discretion to assume responsibility for all
of the costs of the arbitration; (e) the arbitrator shall honor
claims of privilege and privacy recognized at law; (f) the
arbitration shall be confidential, and neither you nor we may
disclose the existence, content or results of any arbitration, except
as may be required by law or for purposes of enforcement of the
arbitration award; (g) the arbitrator may award any individual relief
or individual remedies that are permitted by applicable law; and (h)
each side pays its own attorneys’ fees and expenses unless there is
a statutory provision that requires the prevailing party to be paid
its fees’ and litigation expenses, and then in such instance, the
fees and costs awarded shall be determined by the applicable law. 
Notwithstanding the foregoing, either You or Kuju may bring an
individual action in small claims court. Further, claims of
defamation, violation of the Computer Fraud and Abuse Act, and
infringement or misappropriation of the other party’s patent,
copyright, trademark, or trade secret shall not be subject to this
arbitration agreement. Such claims shall be exclusively brought in
the state or federal courts located in New York, New York.
Additionally, notwithstanding this agreement to arbitrate, either
party may seek emergency equitable relief before the state or federal
courts located in New York County, New York in order to maintain the
status quo pending arbitration, and hereby agree to submit to the
exclusive personal jurisdiction of the courts located within New York
County, California for such purpose. A request for interim measures
shall not be deemed a waiver of the right to arbitrate.  With the
exception of subparts (a) and (b) in the paragraph above (prohibiting
arbitration on a class or collective basis), if any part of this
arbitration provision is deemed to be invalid, unenforceable or
illegal, or otherwise conflicts with the Rules and Procedures, then
the balance of this arbitration provision shall remain in effect and
shall be construed in accordance with its terms as if the invalid,
unenforceable, illegal or conflicting provision were not contained
herein. If, however, either subpart (a) or (b) is found to be
invalid, unenforceable or illegal, then the entirety of this
arbitration provision shall be null and void, and neither You nor
Kuju shall be entitled to arbitration. If for any reason a claim
proceeds in court rather than in arbitration, the dispute shall be
exclusively brought in state or federal court located in New York
County, New York.  For more information on AAA, its Rules and
Procedures, and how to file an arbitration claim, you may call AAA at
800-778-7879 or visit the AAA website at <A HREF="http://www.adr.org">http://www.adr.org</A>.</p>
<p>28. CHOICE OF LAW. 
The Agreement is made under and shall be governed by and construed in
accordance with the laws of the State of New York, consistent with
the Federal Arbitration Act, without giving effect to any principles
that provide for the application of the law of another jurisdiction.</p>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>