<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ykCvjUSTjITC9wVZOLV1LPE5xrVwuSfbGVmSAKSv8+A=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>