<div aria-labelledby='forgot-pass-modal' class='modal sign_modals' id='forgot-pass-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>FORGOT PASSWORD</h4>
</div>
<div class='modal-body'>
<div class='form'>
<form accept-charset="UTF-8" action="/accounts/password" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ykCvjUSTjITC9wVZOLV1LPE5xrVwuSfbGVmSAKSv8+A=" /></div><input autofocus="autofocus" class="email" id="user_email" name="user[email]" placeholder="EMAIL" required="required" type="text" value="" />
<button class='btn btn-success w-100 send-reset-pass'>Send me reset password instructions</button>
</form>

</div>
<br>
</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>