<div aria-labelledby='sign-in-modal' class='modal sign_modals' id='sign-in-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>LOG IN</h4>
<br>
<div class='social'>
<a class='btn btn-block btn-social btn-facebook' href='/buyers/auth/facebook'>
<i class='fa fa-facebook'></i>
Log in with Facebook
</a>
<!-- %a.btn.btn-block.btn-social.btn-twitter{href: omniauth_authorize_path('user', 'twitter')} -->
<!-- %i.fa.fa-twitter -->
<!-- Log in with Twitter -->
<a class='btn btn-block btn-social btn-google-plus' href='/buyers/auth/google_oauth2'>
<i class='fa fa-google-plus'></i>
Log in with Google+
</a>
</div>
</div>
<div class='modal-body'>
<div class='form form-group'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email address" %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
 
<div class='w-100 vc remember'>
  <% if devise_mapping.rememberable? -%>
    
     <span class='remember'> <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </span>
  <% end -%>
</div>

    <%= f.submit "Log in", :class => "btn btn-success" %>

<% end %>
</div>

</div>
<div class='modal-footer'>
Don't have an account?
<a class='show-sign-up' href='#'>Sign up now!</a>
</div>
</div>
</div>
</div>