

<%#= render 'form' %>



<body class="landing">


<!-- - content_for :title do -->
<!-- Home -->
<!-- %h1 Welcome to Kuju -->
<!-- = simple_form_for @search do |f| -->
<!-- = f.input :search, as: :string -->
<!-- = f.input :location, input_html: { value: location_value } -->
<!-- = f.submit -->
<!-- Start Header -->
<header id='site-header'>
<nav class='navbar navbar-static-top'>
<div class='container'>
<div class='navbar-header'>
<button class='navbar-toggle' data-target='.bs-navbar-collapse' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>

</div>
<nav class='collapse navbar-collapse bs-navbar-collapse' role='navigation'>
<div class='center-menu'>
<ul class='nav navbar-nav navbar-center'>
<li>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</li>
<li>
<a href="/how-it-works">HOW IT WORKS</a>
</li>
<li>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</li>
<!--<li>-->
<!--<a href="http://blog.kuju.io/">BLOG</a>-->
<!--</li>-->
</ul>
</div>
<div class='right-menu'>
<ul class='nav navbar-nav navbar-right'>
<li>
<% if user_signed_in? %>
  <a class="nopad" href="/accounts"><button class="btn bordered-gray">Appointments</button></a>
<% else %>
<button class='btn filled-green' data-target='#sign-up-modal' data-toggle='modal'>SIGN UP</button>
</li>
<li>
<button class='btn bordered-gray login' data-target='#sign-in-modal' data-toggle='modal'>LOG IN</button>
<% end %>
</li>
</ul>
</div>
</nav>
</div>
</nav>

<div class='header-content'>
<div class='container'>
<div class='row'>
<div class='col-xs-12'>
<ul class='bxslider2'>
<li>
<h1>
FIND YOUR NEXT
<span class='caption'>Nutritionist</span>
</h1>
</li>
<li>
<h1>
FIND YOUR NEXT
<span class='caption'>Nutritionist</span>
</h1>
</li>
<li>
<h1>
FIND YOUR NEXT
<span class='caption'>Nutritionist</span>
</h1>
</li>
<li>
<h1>
FIND YOUR NEXT
<span class='caption'>Nutritionist</span>
</h1>
</li>
</ul>
<p>Book sessions with nutritionists online with Kuju</p>
</div>
</div>
<div class='row'>
<div class='col-xs-8 col-xs-offset-2'>
<div class='search-engine'>
  
<%= search_form_for @q, url: expert_profiles_path, html: { method: :get } do |f| %>

<div class='main-search vc'>
  <%= f.text_field :about_cont,  :placeholder => "Search", :id => "search"%>
  <%= f.text_field :city_cont,  :placeholder => "Where?", :id => "where"%>

 <%=  f.submit  "Search" , :id => "submit-search" %>

</div>
<% end %>




</div>
</div>
<div class='col-xs-8 col-xs-offset-2'>
<p class='undersearch'>
WANT MORE CLIENTS?
<a class='inverse' href='/list-your-services'>LIST YOUR SERVICES ON KUJU</a>
</p>
</div>
</div>
</div>
</div>
</header>
<!-- End Header -->
<ul class='bxslider'>
<li class='l1'></li>
<li class='l2'></li>
<li class='l3'></li>
<li class='l4'></li>
</ul>
<br style='float:none;'>
<div id='wrapper'>
<section class='featured-professionals'>
<div class='container'>
<div class='row'>
<div class='col-xs-12'>
<h2>
<span>Featured Professionals</span>
</h2>
</div>
</div>
<div class='row featured-boxes'>
  
<div class='col-inner col-xs-4'>
<div class='inner'>
<figure class='thumb'>
    <% if @rand_expert.first.present?  %>
<% for attachment in @rand_expert.first.expert_profile.attachments 
      if attachment.image.exists?(:thumb) %>
    		<%= image_tag(attachment.image.url(:thumb)) %>
    	<% end %>
    	    	<% end %>
</figure>
<div class='desc clearfix'>
<h3><%= @rand_expert.first.first_name  %></h3>
<small><%= @rand_expert.first.expert_profile.expert_type  %></small>
<br>
<%= link_to "Book Now",  @rand_expert.first.expert_profile, :class => "btn-success book" %>

</div>
</div>
</div>
<% end %>
<div class='central col-inner col-xs-4'>
<div class='inner'>
<figure class='thumb'>
   <% if @rand_expert.second.present?  %>
<% for attachment in @rand_expert.second.expert_profile.attachments 
      if attachment.image.exists?(:thumb) %>
    		<%= image_tag(attachment.image.url(:thumb)) %>
    	<% end %>
    	    	<% end %>
</figure>
<div class='desc clearfix'>
<h3><%= @rand_expert.second.first_name  %></h3>
<small><%= @rand_expert.second.expert_profile.expert_type  %></small>
<br>
<%= link_to "Book Now",  @rand_expert.second.expert_profile, :class => "btn-success book" %>
<% end %>
</div>
</div>
</div>
<div class='col-inner col-xs-4'>
<div class='inner'>
<figure class='thumb'>
  <% if @rand_expert.third.present?  %>
<% for attachment in @rand_expert.third.expert_profile.attachments 
      if attachment.image.exists?(:thumb) %>
    		<%= image_tag(attachment.image.url(:thumb)) %>
    	<% end %>
    	    	<% end %>
</figure>
<div class='desc clearfix'>
<h3><%= @rand_expert.third.first_name  %></h3>
<small><%= @rand_expert.third.expert_profile.expert_type  %></small>
<br>
<%= link_to "Book Now",  @rand_expert.third.expert_profile, :class => "btn-success book" %>
<% end %>
</div>
</div>
</div>
</div>


</div>
</section>
<!-- End Section 1 -->
<!-- Start Section 2 -->
<section class='featured-services'>
<div class='container'>
<div class='row'>
<div class='col-xs-10 col-xs-offset-1 text-center when_you_want_it'>
<h2>HAND PICKED NUTRITIONISTS AT YOUR FINGER TIPS</h2>
</div>
<div class='col-xs-4 col-inner'>
<div class='inner'>
<div class='thumb'>
<%= image_tag "service-1.png" %>
</div>
<h2>NUTRITIONISTS ON-DEMAND</h2>
<p>Book one-on-one sessions with expert Nutritionists for online or in person consultation.</p>
</div>
</div>
<div class='col-xs-4 col-inner central'>
<div class='inner'>
<div class='thumb'>
<%= image_tag "service-2.png" %>
</div>
<h2>Easy & Flexible</h2>
<p>Booking is quick and convenient. Book one session or a bunch, its totally up to you. Kuju gives you the flexibility to go at your own pace without worrying about any annoying contracts.</p>
</div>
</div>
<div class='col-xs-4 col-inner'>
<div class='inner'>
<div class='thumb'>
<%= image_tag "service-3.png" %>
</div>
<h2>Safe & Secure</h2>
<p>All our professional listings on Kuju have been carefully vetted and transactions are secure so you can spend less time worrying and more on meeting & exceeding your health goals.</p>
</div>
</div>
</div>
</div>
</section>
<!-- End Section 2 -->
<!-- Start Section 3 -->
<section class='registration-section'>
<div class='container'>
<div class='row'>
<div class='col-xs-8 col-xs-offset-2 col-search'>
<h2>Book your next Nutritionist</h2>
<div class='search-engine'>
  
<%= search_form_for @q, url: expert_profiles_path, html: { method: :get } do |f| %>

<div class='main-search vc'>
  <%= f.text_field :about_cont,  :placeholder => "Search", :id => "search"%>
  <%= f.text_field :city_cont,  :placeholder => "Where?", :id => "where"%>

 <%=  f.submit  "Search" , :id => "submit-search" %>

</div>
<% end %>  

</div>
</div>
<div class='col-xs-8 col-xs-offset-2'>
<p class='member'>ARE YOU A FITNESS OR WELLNESS PROFESSIONAL LOOKING FOR MORE CLIENTS?</p>
<a class="list-services" href="/list-your-services">LIST YOUR SERVICES ON KUJU</a>
</div>
</div>
</div>
</section>
</div>
<!-- End Section 3 -->
<!-- Start Footer -->
<div id='footer-wrapper'>
<div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path , method: :get%>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>

<%= render 'contactus' %>

</div>
<%= render 'signup' %>
<%= render 'signin' %>
<%= render 'forgotpass' %>






<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>



