<!DOCTYPE html>
<html>
<head>
    <%= Gon::Base.render_data %>
    <%= include_gon %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kuju: Edit profile</title>
  <script type="text/javascript">
//<![CDATA[
window.gon={};gon.expert_availability={"0":false,"1":true,"2":false,"3":true,"4":true,"5":false,"6":true};gon.expert_time_availability={"0":null,"1":null,"2":null,"3":null,"4":null,"5":null,"6":null};gon.cost_per_session=70;gon.enable_facebook_api=true;
//]]>
</script>

  <script src="https://js.stripe.com/v2/"></script>
  

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      
       <%=  include_gon(:init => true) %>
      <script type="text/javascript">
          //<![CDATA[
          gon.expert_types_list=["Boxing","Crossfit","Dance","Kickboxing","Mixed Martial Arts","Nutritionist","Personal Trainer","Pilates","Spin","Yoga","Zumba"];
          //]]>
      
      </script>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

      <%= csrf_meta_tags %>
</head>
<!--<body>-->

<%= yield %>


<!--</body>-->
</html>
