
<body class="dashboard">
  <div class="wrapper">
    <div class='header'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<div class='collapseee' id='top-header'>
<div class='search col-xs-6'>
<!--<form action='/searches' method='get'>-->
<!--<i class='fa fa-search'></i>-->
<!--<input class='nav_search query' name='query' placeholder='Search for trainers, classes. etc.' type='text'>-->
<!--<input class='location nav_search' name='location' placeholder='Where?' type='text'>-->
<!--<button class='btn search-submit bold'>GO</button>-->
<!--</form>-->

</div>
<ul class='nav navbar-nav navbar-right'>
<li>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</li>
<li class="divider-vertical"></li>
<li class='dropdown'>
<a aria-expanded='false' class='buyer dropdown-toggle' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'><% if user_signed_in? %>
  <%= current_user.first_name %>
<% end %></span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>

<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</div>



<h3>Listing Experts</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @exp.each do |expert| %>
      <tr>
        <td><%= expert.first_name %> <%= expert.last_name %></td>
        <td><%= expert.email %></td>
        <td class="success"><%= link_to 'Change to Buyer', user_path(expert, user: {type: :Buyer}), method: :put, data: { confirm: 'Are you sure?' } %></td>
          <td class="danger"><%= link_to 'DELETE USER', user_path(expert), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<h3>Listing Buyers</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @byr.each do |buyer| %>
   <% if buyer.admin_check!="true" %>
      <tr>
        <td><%= buyer.first_name %> <%= buyer.last_name %></td>
        <td><%= buyer.email %></td>
        <td class="success"><%= link_to 'Change to Expert', user_path(buyer, user: {type: :Expert}), method: :put, data: { confirm: 'Are you sure?' } %></td>
        <td class="danger"><%= link_to 'DELETE USER', user_path(buyer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
 
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>