<body class="dashboard">

  <div class="wrapper">
    <div class='header'>
<nav class='navbar' role='navigation'>
<div class='container'>
<div class='navbar-header'>
<%= link_to "Kuju", root_path, class: "navbar-brand", method: :get %>
</div>
<div class='collapseee' id='top-header'>
<ul class='nav navbar-nav navbar-right'>
<li>
 <%= link_to("BROWSE", expert_profiles_path, method: :get)%>
</li>
<li class='dropdown'>
<a aria-expanded='false' class='dropdown-toggle expert' data-toggle='dropdown' href='#' id='profile-menu'>
<img alt="User default" class="img-circle" src="https://kuju.io/assets/user-default-57dcbb2ec936b04eaca2261902dfd5bd.jpg" />
<span class='nav_user_name'><% if user_signed_in? %>
  <%= current_user.first_name %>
<% end %></span>
<i class='fa fa-angle-down direction'></i>
</a>
<ul aria-labelledby='profile-menu' class='dropdown-menu w-100' id='profile-dropdown' role='menu'>
<li>
<a href="/accounts">Appointments</a>
</li>
<li>
 <%= link_to("My profile", expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
 <%= link_to("Edit profile", edit_expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
<%= link_to('Account settings', edit_user_registration_path, method: :get) %> 
</li>
<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</div>

    <div class='topmenu'>
<nav class='navbar' role='navigation'>
<div class='container expert'>
<div class='nopad-l' id='top-menu'>
<ul class='nav navbar-nav'>
<!-- / EXPERT & BUYER SECTION -->
<li class='first'>
<a class="active" href="/reservations">APPOINTMENTS</a>
</li>
<li>
 <%= link_to("EDIT PROFILE", edit_expert_profile_path(current_user.expert_profile.id), method: :get) %>
</li>
<li>
<%= link_to('ACCOUNT SETTINGS', edit_user_registration_path, method: :get) %> 
</li>
<!--<li>-->
<!--<a href="/help">HELP</a>-->
<!--</li>-->
<li class='edit-profile'>
<%= link_to "VIEW PROFILE <i class='fa fa-angle-right direction'></i>".html_safe , expert_profile_path(current_user.expert_profile.id), html_options = {:class =>'btn btn-success'} %>


</li>
</ul>
</div>
</div>
</nav>
</div>
<!--<div class='container'>-->
<!--<div class='col-xs-12 nopad'>-->
<!--<div class='alert alert-notice alert-verification vc'>-->
<!--<span>PLEASE VERIFY YOUR EMAIL TO COMPLETE YOUR REGISTRATION!</span>-->
<!--<button class='navbar-right btn btn-success resend-verify-email'>RESEND VERIFICATION EMAIL</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<% if current_user.expert_profile.listed == "f" %>
<div class='container'>
<div class='col-xs-12 nopad'>
<div class='alert alert-notice alert-verification vc'>
<span>YOUR PROFILE IS NOT PUBLIC!</span>
 <%= link_to("<button class='btn btn-success'>EDIT PROFILE</button>".html_safe, edit_expert_profile_path(current_user.expert_profile.id), method: :get, :class =>'navbar-right') %>



</div>
</div>
</div>
<% end %>
<div class='container fitted expert-dashboard'>
<div class='row reserv-page'>
<div class='col-xs-12 reservations white next'>
<div class='panel-header'>
<h5 class='text-light'>
UPCOMING APPOINTMENTS
<a class='navbar-right inverse' href='/reservations?show=up'>ALL UPCOMING APPOINTMENTS</a>
</h5>
</div>


<% if (current_user.expert_profile.reservations.present? && @futureex==1) %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Customer</th>
      <th>Cancelation</th>
      
     
      
    </tr>
  </thead>

  <tbody>
      <% current_user.expert_profile.reservations.each do |reservation| %>
    <% reservation.ssessions.each do |ssession| %>
    <% if ssession.date >= Date.today.to_s && ssession.canceled!="true" %>
      <tr>
        <td ><%= ssession.date %></td>
        <td><%= ssession.time %></td>
        <td><%= ssession.reservation.user.first_name%> <%=ssession.reservation.user.last_name%>, email: <%=ssession.reservation.user.email  %></td>
         <td class="danger"><%= link_to 'Cancel', ssession_path(ssession, ssession: {canceled: :true}), method: :put, data: { confirm: 'Are you sure?' } %></td>
        
        
       
        
      
      </tr>
      <% end %>
       <% end %>
    <% end %>
  </tbody>
</table>

<% else %>


<p>You have no appointments.</p>
<% end %>
</div>
<div class='col-xs-12 reservations white next'>
<div class='panel-header'>
<h5 class='text-light'>
PAST APPOINTMENTS
<a class='navbar-right inverse' href='/reservations?show=past'>ALL PAST APPOINTMENTS</a>
</h5>
</div>
<% if (current_user.expert_profile.reservations.present? && @pastex==1) %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Customer</th>
     
     
      
    </tr>
  </thead>

  <tbody>
      <% current_user.expert_profile.reservations.each do |reservation| %>
    <% reservation.ssessions.each do |ssession| %>
    <% if ssession.date < Date.today.to_s && ssession.canceled!="true" %>
      <tr>
        <td ><%= ssession.date %></td>
        <td><%= ssession.time %></td>
        <td><%= ssession.reservation.user.first_name%> <%=ssession.reservation.user.last_name%>, email: <%=ssession.reservation.user.email  %></td>
         
       
        
      
      </tr>
      <% end %>
       <% end %>
    <% end %>
  </tbody>
</table>

<% else %>


<p>You have no appointments.</p>
<% end %>

</div>
<!--<div class='col-xs-12 reservations white next'>-->
<!--<div class='panel-header'>-->
<!--<h5 class='text-light'>-->
<!--PACKAGES-->
<!--</h5>-->
<!--</div>-->

<!--</div>-->
<div class='col-xs-12 reservations white next'>
<div class='panel-header'>
<h5 class='text-light'>
CANCELED APPOINTMENTS
<a class='navbar-right inverse' href='/reservations?show=canceled'>ALL CANCELED APPOINTMENTS</a>
</h5>
</div>
<% if (current_user.expert_profile.reservations.present? && @canceledex==1) %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Customer</th>
     
     
      
    </tr>
  </thead>

  <tbody>
      <% current_user.expert_profile.reservations.each do |reservation| %>
    <% reservation.ssessions.each do |ssession| %>
    <% if ssession.canceled=="true" %>
      <tr>
        <td ><%= ssession.date %></td>
        <td><%= ssession.time %></td>
        <td><%= ssession.reservation.user.first_name%> <%=ssession.reservation.user.last_name%>, email: <%=ssession.reservation.user.email  %></td>
         
       
        
      
      </tr>
      <% end %>
       <% end %>
    <% end %>
  </tbody>
</table>

<% else %>


<p>You have no appointments.</p>
<% end %>

</div>
</div>
</div>
<div aria-labelledby='r-cancel' class='modal' id='r-cancel'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CANCEL SESSION</h4>
</div>
<div class='modal-body'>
<p class='text-light desc'>Are you sure you want to cancel this session? If so, please let the client know the reason. You will lose <span class="price black">$</span> in earnings. You can also <a class="inverse">reschedule the session</a> if theres a schedule conflict.</p>
<div class='form'>
<textarea id='cancelation-reason' pattern='.{50,500}' rows='4'></textarea>
</div>
<div class='vc w-100'>
<div class='nice-checkbox'>
<i class='fa fa-check-square-o'></i>
<i class='fa fa-square-o'></i>
<input id='cancel-read' type='checkbox'>
</div>
<span>I have read and agree to the <a class="inverse">cancellation policy</a>.</span>
</div>
<br>
<div class='w-100'>
<a class='btn cancel-btn' disabled path='/reservations'>YES, CANCEL THIS SESSION</a>
<a class='btn btn-success' data-dismiss='modal' path='/trainer_sessions'>NO, KEEP THIS SESSION</a>
<img alt="Preloader" class="preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="display:none;" />
</div>
</div>
</div>
</div>
</div>

<div aria-labelledby='add_review' class='modal' id='add_review'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header' style='border: none'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>WRITE REVIEW</h4>
</div>
<div class='modal-body'>
<div class='form'>
<label class='mp'>RATING</label>
<input class="hide ratings" id="points" name="points" type="text" />
<label class='mt'>WRITE YOUR REVIEW</label>
<textarea id="comment" maxlength="254" name="comment" placeholder="Tell about your experience" rows="7">
</textarea>
</div>
<a class='btn btn-success review-btn w-100' path='/reviews'>SUBMIT REVIEW</a>
</div>
</div>
</div>
</div>

<div aria-labelledby='r-info' class='modal' id='r-info'>
<div class='modal-dialog'>
<div class='modal-content ready' style='display:none'></div>
<div class='modal-content preloader'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='name modal-title'>PLEASE WAIT...</h4>
</div>
<div class='modal-body w-100'>
<img alt="Preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" />
</div>
</div>
</div>
</div>

<div aria-labelledby='r-reschedule' class='modal' id='r-reschedule'>
<div class='modal-dialog modal-sm'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>RESCHEDULE SESSION</h4>
</div>
<div class='modal-body'>
<p class='text-light desc'>Are you sure you want to reschedule this session?</p>
<div class='form'>
<div class='col-xs-7 nopad'>
<label style='color: #3b515e'>DATE</label>
<input class='datepicker-r' id='reschedule-date' type='text'>
</div>
<div class='col-xs-5 nopad-r'>
<label style='color: #3b515e'>TIME</label>
<input class='timepickers' id='reschedule-time' type='text'>
</div>
</div>
<br>
<div class='w-100'>
<a class='btn btn-success reschedule-submit' path='/reservations/:id/reschedule'>RESCHEDULE</a>
<a class='btn btn-default' data-dismiss='modal' style='width: 50%;'>CANCEL</a>
<img alt="Preloader" class="preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="display:none;" />
</div>
</div>
</div>
</div>
</div>

<div aria-labelledby='send-message' class='modal' id='send-message'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>
SEND MESSAGE TO
<span class='recipient-name upcase'></span>
</h4>
</div>
<div class='modal-body'>
<div class='form'>
<textarea class='message-text' rows='5'></textarea>
</div>
<br>
<div class='w-100'>
<a class='btn btn-default' data-dismiss='modal'>CANCEL</a>
<a class='btn btn-success send' path='/messages.json'>SEND</a>
<img alt="Preloader" class="preloader" src="https://kuju.io/assets/preloader-a130e0797a5836f18e306ebdf7ba6acc.gif" style="display:none;" />
</div>
</div>
</div>
</div>
</div>


    <div class="push"></div>
  </div>
    <div id="footer-wrapper">
      <div id='footer'>
<div class='container'>
<div class='links w-100'>
<div class='footer-col'>
<h4>FIND</h4>
<ul>
<li>
<a href="/expert_profiles">PERSONAL TRAINERS</a>
</li>
<li>
<a href="/expert_profiles?etype=Yoga">YOGA CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Pilate">PILATES CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Spin">SPIN CLASSES</a>
</li>
<li>
<a href="/expert_profiles?etype=Kickboxing">KICKBOXING</a>
</li>
</ul>
</div>
<div class='footer-col'>
<h4>KUJU</h4>
<ul>
<ul>
<%= link_to "BROWSE", expert_profiles_path, method: :get %>
</ul>
<ul>
<a href="/how-it-works">HOW IT WORKS</a>
</ul>
<ul>
<a href="/list-your-services">LIST YOUR SERVICES</a>
</ul>
<ul>
<a data-target="#contact-modal" data-toggle="modal" href="#">CONTACT US</a>
</ul>
<ul>
<a href="/terms-of-use">TERMS</a>
</ul>
<ul>
<a href="/privacy-policies">PRIVACY</a>
</ul>
</ul>
</div>
<div class='footer-col'>
<h4>GET SOCIAL</h4>
<div class='social-links'>
<a class="circle" href="https://instagram.com/bekuju" target="_blank"><i class='fa fa-instagram'></i></a>
<a class="circle" href="https://facebook.com/bekuju" target="_blank"><i class='fa fa-facebook'></i></a>
<a class="circle" href="https://twitter.com/BeKuju" target="_blank"><i class='fa fa-twitter'></i></a>
</div>
</div>
<div class='fifth-col'>
<a class="navbar-right" href="#" onclick="$(&quot;html, body&quot;).animate({ scrollTop: 0 }, &quot;slow&quot;);return false;"><%= image_tag "logo-green.jpg", :alt => "Logo green" %>
</div>
</div>
<div class='bottom w-100 block'>
<span>&copy; Kuju 2016. All Rights Reserved.</span>
</div>
</div>
</div>
<div aria-labelledby='contact-modal' class='modal' id='contact-modal'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<span class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>×</span>
<span class='sr-only'>Close</span>
</span>
<h4 class='modal-title'>CONTACT US</h4>
<p class='text-light'>If you have any questions or comments, feel free to get in touch!</p>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/contact_us" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="PNdpCl/WTsXMvIAuBsCJzY55K+ge8tQjoiBym+q+ngM=" /></div>
<div class='form'>
<input class='name' name='name' placeholder='YOUR NAME' type='text'>
<input class='email' name='email' placeholder='YOUR EMAIL ADDRESS' required type='email'>
<textarea class='message' name='message' placeholder='YOUR MESSAGE' required rows='7'></textarea>
</div>
<button class='btn btn-success w-100 send' type='submit'>SEND MESSAGE</button>
</form>

</div>
</div>
</div>
</div>


    </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58555994-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>