<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @account.uid %>
</p>

<%= link_to 'Edit', edit_account_path(@account), method: :get %> |
<%= link_to 'Back', accounts_path, method: :get %>
